<ion-header style="background-color: white;">
    <ion-toolbar style="padding: 20px 10px 15px;">
        <ion-row style="display: flex;justify-content: space-between;">
            <div>
                <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%" (click)="dismiss()"></ion-icon>
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 20px;display: flex;
      align-items: center;align-items: center;">
                Profile view
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;">
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="display-justify">
        <div class="custom-button" *ngFor="let title of basicProfileDetails">
            <div style="display: flex; justify-content: space-between;align-items: center;">
                <div style="display: flex; justify-content: start;">
                    <!-- <ion-avatar style="width: 35%;" slot="start">
     <img src="" /> 
      </ion-avatar>  -->
                </div>
                <div *ngIf="profileimg =='null' " style="display: flex; justify-content: center;padding: 5px;">
                    <ion-avatar slot="start" style="width: 105px; height: 105px;">
                        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                </div>
                <div *ngIf="profileimg !='null' " style="display: flex; justify-content: center;padding: 5px;">
                    <ion-avatar slot="start" style="width: 105px; height: 105px;">
                        <img src="{{profileimg}}" />
                    </ion-avatar>
                </div>
                <div style="display: flex; justify-content: end;">
             
                </div>
            </div>
            

            <div style="display: flex;flex-direction: column;align-items: center;">

                <div class="card-bottom-part" [style.background]="blue" [style.border-color]="blue">
                    <div class="bottom-part" [style.border-color]="blue" style="font-family: 'Inter'; color: white;">
                        <a href="mailto: {{vcardList?.emailid}}" class="link" [style.color]="blue" style="font-family: 'Inter'">
                            <span class="bottom-icon">
                      <svg viewBox="0 0 20 20" height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="20" id="_20">
                        <path transform="translate(1.25 3.75)" d="M16.25,12.5h-15A1.252,1.252,0,0,1,0,11.25v-10A1.252,1.252,0,0,1,1.25,0h15A1.251,1.251,0,0,1,17.5,1.25v10A1.251,1.251,0,0,1,16.25,12.5ZM1.25,1.819V11.25h15V1.819L9.106,6.763a.626.626,0,0,1-.713,0ZM2.625,1.25,8.75,5.487,14.875,1.25Z"style="fill: white;" ></path>
                      </svg>
                    </span> &nbsp; Email
                        </a>
                    </div>  &nbsp;&nbsp;
                    <div class="bottom-part" style="font-family: 'Inter';color: white;">
                        <a href="tel: {{vcardList?.mobileno}}" class="link" [style.color]="blue" style="font-family: 'Inter'">
                            <span class="bottom-icon">
                      <svg viewBox="0 0 20 20" height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="20" id="_20">
                        <path transform="translate(1.869 1.875)" d="M14.381,16.25h-.106C2,15.544.249,5.179.006,2.019A1.874,1.874,0,0,1,1.731,0H5.175A1.243,1.243,0,0,1,6.337.787l.95,2.337a1.247,1.247,0,0,1-.275,1.35L5.681,5.818a5.875,5.875,0,0,0,4.738,4.75l1.356-1.344a1.25,1.25,0,0,1,1.356-.257l2.356.944a1.245,1.245,0,0,1,.769,1.163v3.3A1.877,1.877,0,0,1,14.381,16.25Zm-12.5-15a.625.625,0,0,0-.625.625v.05C1.545,5.648,3.4,14.375,14.343,15h.038a.625.625,0,0,0,.625-.589V11.075l-2.356-.944-1.794,1.781-.3-.038A6.733,6.733,0,0,1,5.429,8.553,8.171,8.171,0,0,1,4.381,5.7l-.038-.3L6.118,3.606,5.181,1.25Z"style="fill: white;"></path>
                      </svg>
                    </span> &nbsp; Phone
                        </a>
                    </div>
                </div>

                <ion-row style="text-align: center;">
                    <ion-col style="color: #002060; font-weight: bold; font-family: Inter;">{{vcardList?.firstname}}</ion-col>
                  </ion-row>

                  <ion-row style="text-align: center;">
                    <ion-col style="color: #002060; font-family: Inter;">{{vcardList?.designation}}</ion-col>
                  </ion-row>

            </div>

            <div style="margin-left: 10%;">
                <ion-row>
                 <ion-col size="4" style="color: #002060; font-weight: bold; font-family: Inter;">Phone</ion-col>
                 <ion-col size="1">:</ion-col>
                 <ion-col size="7" style="color: #002060; font-family: Inter;">{{vcardList?.mobileno}}</ion-col>
               </ion-row>
         
               <ion-row>
                 <ion-col size="4" style="color: #002060; font-weight: bold; font-family: Inter;">Email</ion-col>
                 <ion-col size="1">:</ion-col>
                 <ion-col size="7" style="color: #002060; font-family: Inter;">{{vcardList?.emailid}}</ion-col>
               </ion-row>
         
               <ion-row>
                 <ion-col size="4" style="color: #002060; font-weight: bold; font-family: Inter;">Address</ion-col>
                 <ion-col size="1">:</ion-col>
                 <ion-col size="7" style="color: #002060; font-family: Inter;">{{vcardList?.address}}</ion-col>
               </ion-row>
         
               <ion-row>
                 <ion-col size="4" style="color: #002060; font-weight: bold; font-family: Inter;">Company</ion-col>
                 <ion-col size="1">:</ion-col>
                 <ion-col size="7" style="color: #002060; font-family: Inter;">{{vcardList?.company}}</ion-col>
               </ion-row>
         
               <ion-row>
                 <ion-col size="4" style="color: #002060; font-weight: bold;font-family: Inter;">Website</ion-col>
                 <ion-col size="1">:</ion-col>
                 <ion-col size="7" style="color: #002060;font-family: Inter;">{{vcardList?.websiteLink}}</ion-col>     
              </ion-row>
         
         <br>
              <ion-row style="text-align: center;">
                 <ion-col >
                    <a href="{{vcardList?.socials1Link}}">
                     <ion-icon style="color: #002060;" name="logo-linkedin"></ion-icon></a> &nbsp;&nbsp;
                     <a href="{{vcardList?.socials2Link}}">
                     <ion-icon style="color: #002060;" name="logo-twitter"></ion-icon></a>
                 </ion-col>     
              </ion-row>
         
              <ion-row style="text-align: center;">
              <ion-col> <u style="color: #002060; font-family: Inter;">Verified by TalentChek</u> </ion-col>
             </ion-row>
         
             <!-- <ion-row style="text-align: center;">
                 <ion-col class="plusIcon"> 
                     <ion-icon name="add" style="color: white;"> </ion-icon> 
                 </ion-col>
                </ion-row> -->

                <div class="container">
                    <input type="checkbox" id="toggle" style="display: none;"/>
                    <label class="plusIcon" for="toggle">
                        <ion-icon id="toggle" name="add" style="color: white;"> </ion-icon> 

                    </label>
                    <nav class="nav1"*ngIf="uploadBrochure==null ||uploadBrochure==''||uploadBrochure==undefined">
                        <ul style="color: #FF8E21;">

                       <a (click)="downloadVCard()" target="_blank">Save Contact</a>
                    </ul>
                      </nav>
                    <nav class="nav" *ngIf="uploadBrochure!=null &&uploadBrochure!='' &&uploadBrochure!=undefined" >
                      <ul style="color: #FF8E21;">
                   <a  *ngIf="uploadBrochure!=null" class="downloadView" style="color: #FF8E21;" href="{{this.filePath}}{{this.uploadBrochure}}"
                    target="_blank" download="{{this.filePath}}root/PRJ/export/{{this.uploadBrochure}}">Download Brochure</a><br><br>
                     <a (click)="downloadVCard()" target="_blank">Save Contact</a>
                  </ul>
                    </nav>
                  </div>
         
                 </div>



        </div>
    </div>

    


  
  
</ion-content>