<style>
    #back {
        background-size: 100%;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        width: 110vw!important;
        height: 104vh!important;
        margin-left: -10%!important;
        background-attachment: fixed!important;
        margin-top: -9%!important;
        background-position: center center!important;
    }
</style>
<ion-header>

</ion-header>

<ion-content padding color="primary">
    <div id="back" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'" style="height:500px">
</ion-content>