<ion-header style="background-color: white;">
  <ion-toolbar style="padding: 20px 10px 15px;">
      <ion-row style="display: flex;justify-content: space-between;">
        <div>
          <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%" (click)="goto_settings()"></ion-icon>
        </div>  
        <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;display: flex;
        align-items: center;align-items: center;">
          Visibility settings
        </div> 
        <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;"> 
        </div>
      </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content> 

<div class="display-justify" (click)="profile_vis()">
  <div class="custom-button">
   <div style="display: flex; align-items: center;" ><ion-avatar slot="start">
    <img src="../../assets/icon/about.png" />
  </ion-avatar>Profile Visibility</div>
  </div> 
</div>
<div class="line-with-text">
  <hr class="hr1">
</div>
<div class="display-justify"  (click)="email_vis()">
  <div class="custom-button">
   <div style="display: flex; align-items: center;"><ion-avatar slot="start">
    <img src="../../assets/icon/about.png" />
  </ion-avatar>Email Visibility</div>
  </div> 
</div>
<div class="line-with-text">
  <hr class="hr1">
</div>
<div class="display-justify"  (click)="phone_vis()">
  <div class="custom-button">
   <div style="display: flex; align-items: center;"><ion-avatar slot="start">
    <img src="../../assets/icon/about.png" />
  </ion-avatar>Phone Visibility</div>
  </div> 
</div>
  
  <div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
      <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
      <ion-icon size="large" name="apps"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
    </button>
  </div>
  
  
  

</ion-content>
