<ion-header style="background-color: white;">
    <ion-toolbar>
        <form style="padding: inherit;" [formGroup]="jobSearchHeadForm">
            <ion-row>
                <ion-col size="10">
                    <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 3%;font-weight: 600;
              font-size: 30px;">Profile search</ion-title>
                </ion-col>
                <ion-col size="2">
                    <img (click)="goto_advanceSearch()" src="./assets/icon/settings.png" style="width: 70%; height: 45px; padding-bottom: 0px;">
                </ion-col>
            </ion-row>

            <ion-row style="margin: -15px 0px 0px 0px;">
                <ion-col size="10">
                    <ion-title class="ion-text-wrap" style="font-size: 15px;">It's easy.</ion-title>
                </ion-col>
            </ion-row>

            <ion-row style="display: flex;
      align-items: center;">
                <ion-col size="12">
                    <div class="search-container">
                        <select formControlName="searchType" class="search-dropdown">
              <option value="talentid">Talent Id</option>
              <option value="name">Name</option>
              <option value="email">Email Id</option>
              <option value="phone">Mobile No</option>
            </select>
                        <input type="text" formControlName="searchValue" class="search-input" placeholder="Search...">
                        <ion-button (click)="search()" class="search-button">Go</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </form>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <br>
    <form>

        <ion-row *ngIf="basicprofilesearchList.length == 0">
            <ion-col size="12">
                <ion-avatar size="medium" style="width: 90%; margin-left: 5%; margin-top: 8%; height: 90%;">
                    <img alt="Silhouette of a person's head" src="\assets\img\search.png" />
                </ion-avatar>
            </ion-col>

        </ion-row>
        <div style="display: flex;justify-content: center;" *ngIf="basicprofilesearchList.length == 0">No Results to Display</div>
        <div *ngIf="basicprofilesearchList.length != 0">
            <ion-card class="profilesearchcard" *ngFor="let profile of basicprofilesearchList" (click)="profileView(profile.talentid,profile.accounttype,profile.username)">
                <ion-card-content style="padding-bottom: 0px;">

                    <ion-row>
                        <ion-col size="2">
                            <ion-avatar size="medium">
                                <img alt="" style=" height: 80%;width: 80%;" src="{{profile.profilepic}}" />
                            </ion-avatar>
                        </ion-col>

                        <ion-col size="8">

                            <ion-title style="font-family:  Mr-eaves; font-size: 18px;">{{profile.username}}</ion-title>


                        </ion-col>
                        <ion-col size="2">
                            <div *ngIf="profile.accounttype == 'public'" class="badge badge-solid-green" style="border-radius: 11px; text-transform: capitalize;   margin-left: -10%;">{{profile.accounttype}}</div>
                            <div *ngIf="profile.accounttype == 'private'" class="badge badge-solid-orange" style="border-radius: 11px; text-transform: capitalize;   margin-left: -10%;">{{profile.accounttype}}</div>
                            <div *ngIf="profile.accounttype == 'on demand'" class="badge badge-solid-blue" style="border-radius: 11px; text-transform: capitalize;   margin-left: -64%;">{{profile.accounttype}}</div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="2">
                        </ion-col>

                        <ion-col size="9" style="    margin-top: -13%;">

                            <ion-title style="    line-height: 14px;font-family: inherit;    font-size: 13px;">
                                {{profile.usercategory}}</ion-title>
                            <ion-title style="     line-height: 14px;    font-family: inherit;      font-size: 13px;;
                        margin-top: 2%;">{{profile.currentwork}}</ion-title>

                        </ion-col>
                        <!-- <ion-col size="1" style="    margin-top: -11%;">

                            <ion-icon size="large" name="arrow-forward"></ion-icon>
                        </ion-col> -->

                    </ion-row>

                </ion-card-content>

            </ion-card>


        </div>
    </form>

    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
      <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
        <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
        <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_orgjobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
      </button>
        <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_instijobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
      </button>
        <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
       <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')"> 
    </button>
        <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_orghome();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')"> 
     </button>
        <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_instihome();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')"> 
     </button>

        <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
        <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_orgprofile();">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
      </button>
        <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_instiprofile();">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
      
    </button>
    </div>





</ion-content>