 <ion-header style="background-color: white;">
  <ion-toolbar>
      <ion-row>  
          <ion-col size="10">
              <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;font-weight: 600;
              font-size: 30px;">Profile search</ion-title>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col size="10">
              <ion-title class="ion-text-wrap" style="font-size: 15px;">It's easy.</ion-title>
          </ion-col> 
      </ion-row>

      <ion-row style="display: flex;
      align-items: center;">
        <ion-col size="10">
                 <ion-searchbar mode="ios"></ion-searchbar>
         </ion-col>
        <ion-col size="2">
          <ion-col size="small">
              <img src="./assets/icon/settings.png" style="width: 70%; height: 45px; padding-bottom: 8px;">
          </ion-col>
         </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card style="border-radius: 38px;">
    <ion-card-content>
      <ion-list >
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <!-- <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" /> -->
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-thumbnail>
          <ion-label>
            <ion-row>
              <ion-col size="10">
                  <ion-title style="color:black; margin-left: -25px; font-weight: bold;">Front-end Developer</ion-title>
              </ion-col>
              <ion-col size="2">
                <ion-icon color="primary" size="large" name="eye"> </ion-icon>
                <!-- <ion-icon size="large" name="eye-off"></ion-icon> -->
              </ion-col>
          </ion-row>
            
            <ion-item lines="none" style="margin-left: -19px;margin-top: -17px;">
              <ion-icon name='location'></ion-icon>
              <ion-label>Default Item Lines</ion-label>
            </ion-item>
            <ion-button color="success" style="--border-radius: 41px;height: 21px;width: 95px;">Full-time</ion-button>
            <ion-button color="danger" style="--border-radius: 41px;height: 21px;width: 95px;margin-left: 10px;">$5000+</ion-button>
          </ion-label>
        </ion-item>
        <hr style="border: 1px solid;"> 
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
      <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
      <ion-icon size="large" name="apps"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
    </button>
  </div>
  
  
  

</ion-content>
