ion-content {
    --background: url('../../assets/img/06_Welcome screen.png') no-repeat center center fixed;
    background-size: cover;
  }
  ion-card-header.ios {
      display: flex;
      flex-flow: column-reverse;
    }
