<ion-header style="background-color: white;">
    <ion-toolbar>
        <form style="padding: inherit;" [formGroup]="jobSearchHeadForm">
            <ion-row>
                <ion-col size="10">
                    <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 3%;font-weight: 600;
              font-size: 30px;">Profile search</ion-title>
                </ion-col>
                <ion-col size="2">
                    <img (click)="goto_advanceSearch()" src="./assets/icon/settings.png" style="width: 70%; height: 45px; padding-bottom: 0px;">
                </ion-col>
            </ion-row>

            <ion-row style="margin: -15px 0px 0px 0px;">
                <ion-col size="10">
                    <ion-title class="ion-text-wrap" style="font-size: 15px;">It's easy.</ion-title>
                </ion-col>
            </ion-row>

            <ion-row style="display: flex;
      align-items: center;">
                <ion-col size="12">
                    <div class="search-container">

                        <ion-select interface="popover"formControlName="searchType" placeholder="Gender" style="background:white">
                            <ion-select-option value="talentid">Talent Id</ion-select-option>
                            <ion-select-option value="name">Name</ion-select-option>
                            <ion-select-option value="email">Email Id</ion-select-option>
                            <ion-select-option value="phone">Mobile No</ion-select-option>
                          </ion-select>
                        <!-- <select formControlName="searchType" class="search-dropdown">
              <option value="talentid">Talent Id</option>
              <option value="name">Name</option>
              <option value="email">Email Id</option>
              <option value="phone">Mobile No</option>
            </select> -->
                        <input type="text" formControlName="searchValue" class="search-input" placeholder="Search...">
                        <ion-button (click)="search()" class="search-button">Go</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </form>

    </ion-toolbar>
</ion-header>

<ion-content>
    <br>

    <ion-card class="profilesearchcard" *ngFor="let profile of basicprofilesearchList" (click)="profileView(profile.talentid)">

        <ion-card-content style="padding-bottom: 0px;">

            <ion-row>
                <ion-col size="2">
                    <ion-avatar size="medium">
                        <img alt="Silhouette of a person's head" style=" height: 80%;width: 80%;" src="{{profile.profilepic}}" />
                    </ion-avatar>
                </ion-col>

                <ion-col size="8">

                    <ion-title style="font-family:  Mr-eaves; font-size: 18px;">{{profile.username}}</ion-title>
                    
                 
</ion-col>
<ion-col size="2">  
    <div class="badge badge-solid-green" style="border-radius: 11px;    margin-left: -10%;">{{profile.accounttype}}</div>
</ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="2">
                </ion-col>

                <ion-col size="9" style="    margin-top: -13%;">

                    <ion-title style="    line-height: 14px;font-family: inherit;    font-size: 13px;">
                        {{profile.usercategory}}</ion-title>
                    <ion-title style="     line-height: 14px;    font-family: inherit;      font-size: 13px;;
                    margin-top: 2%;">{{profile.currentwork}}</ion-title>

                </ion-col>

       


            </ion-row>

        </ion-card-content>

    </ion-card>

    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
      <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
        <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
        <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
       <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    
      
    </button>
        <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
    </button>
    </div>
    <!-- <div class="container">
    <div class="tabbar tab-style1">
      <ul class="flex-center">
        <li class="home active" data-where="home"><span class="material-icons-outlined">
            home
          </span></li>
        <li class="products" data-where="products"><span class="material-icons-outlined">
            shopping_bag
          </span></li>
        <li class="services" data-where="services"><span class="material-icons-outlined">
            plumbing
          </span></li>
        <li class="about" data-where="about"><span class="material-icons-outlined">
            business
          </span></li>
        <li class="help" data-where="help"><span class="material-icons-outlined">
            help_outline
          </span></li>
        <li class="follow">&nbsp;</li>
      </ul>
    </div>
  </div> -->


</ion-content>