<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center; white-space: nowrap;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_settings()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;"> {{'Alumni list' | translate}}</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div class="display-justify" *ngFor="let cElement of alumniList">
        <div class="custom-button" (click)="studentnetwork(cElement.oniname,cElement.networktype)">
            <div style="display: flex; align-items: center; font-family: Mr-eaves ;">
                <ion-avatar slot="start">
                    <img style="padding: 7px;" src="{{cElement.logo}}" />
                </ion-avatar>
                <div class="orgtitle">{{cElement.userName}}</div>
            </div>
        </div>
    </div>








</ion-content>