<ion-header>
  <ion-toolbar class="new-background-color">
      <ion-row>

          <ion-col size="0.5">

          </ion-col>
          <ion-col size="2">
              <ion-icon size="large" name="arrow-back-circle-outline" (click)="profileView()" style="margin-top:21%"></ion-icon>
          </ion-col>

          <ion-col size="7">
              <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">Add Extracurricular</ion-title>
          </ion-col>
      </ion-row>

  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="clubFrom">


<ion-card-content> 
    <ion-row class="talentrow">
        <ion-col>
            <div class="button-content">
                <ion-label class="labels">Name of the Club/Association <small style="color: #f70505;">*</small></ion-label>
                <ion-item fill="outline" class="input-field">
                  <div class="selected-skill">{{ selectedOrganisation }} 
                    <ion-icon *ngIf="selectedOrganisation != undefined && selectedOrganisation != ''" name="close-circle" (click)="removeOrganisation(selectedOrganisation)"></ion-icon>
                 </div>
                <ion-input (ionInput)="onSearchOrganisation($event.target.value)" [formControl]="searchCtrl"></ion-input>
            </ion-item>
            <div *ngIf="clubFrom.controls.clubName.hasError('required') && clubFrom.controls.clubName.touched">
              <small style="color: #f70505;">Participated From is required</small>
            </div>
            <ion-list *ngIf="IsorgListShow">
              <ion-item *ngFor="let result of organisationList" (click)="selectOrganisation(result.text,result.id)">
                  {{ result.text }}
              </ion-item>
          </ion-list>
                    
                </div>
                <div class="button-content">
                    <ion-label class="labels">District/Branch</ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-input formControlName="clubBranch"></ion-input>
                    </ion-item>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">Time held<small style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="titleHeld"></ion-input>
                        </ion-item>
                        <div *ngIf="clubFrom.controls.titleHeld.hasError('required') && clubFrom.controls.titleHeld.touched">
                          <small style="color: #f70505;">Time held is required</small>
                        </div>
                        </div>

                        <div class="button-content">
                          <ion-label class="labels">Role played / Achievement</ion-label>
                          <ckeditor formControlName="rolePlayed"></ckeditor>
                         </div>

                        <div class="button-content">
                            <ion-label class="labels">Participated From </ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-datetime displayFormat="DD.MM.YYYY"  (ionChange)="validateStartDate($event.target.value);" formControlName="participatedFrom" presentation="date"></ion-datetime>
                            </ion-item>
                            <div *ngIf="clubFrom.controls.participatedFrom.hasError('required') && clubFrom.controls.participatedFrom.touched">
                              <small style="color: #f70505;">Participated From is required</small>
                            </div>
                            </div>
                            <div class="button-content">
                                <ion-label class="labels">Participated Till </ion-label>
                                <ion-item fill="outline" class="input-field">
                                    <ion-datetime displayFormat="DD.MM.YYYY" (ionChange)="validateEndDate($event.target.value);" formControlName="participatedTill" presentation="date"></ion-datetime>
                                </ion-item>
                                <div *ngIf="clubFrom.controls.participatedTill.hasError('required') && clubFrom.controls.participatedTill.touched">
                                  <small style="color: #f70505;">Participated Till From is required</small>
                                </div>
                                <div style="display:flex;">
                                    <ion-checkbox [(ngModel)]="isChecked" formControlName="currentMember"></ion-checkbox>&nbsp;&nbsp;Current member
                                  </div>
                               
                                  
                                </div>
                                
                                <div *ngIf="!edit"class="button-content" style="width: 50%;
                                margin: auto;">
                                <ion-button color="primary" fill="outline" (click)="Save()">Save</ion-button>
                                </div>
                                <div *ngIf="edit" class="button-content" style="width: 50%;
                                margin: auto;">
                                <ion-button color="primary" fill="outline" (click)="Updateclub()">Update</ion-button>
                                </div>
              
              
        </ion-col>
    </ion-row>

    
    

</ion-card-content>
</form>

<div class="footer-nav">
  <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
    <ion-icon size="large" name="search-circle"></ion-icon>
  </button>
  <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
    <ion-icon size="large" name="earth-sharp"></ion-icon>
  </button>
  <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
    <ion-icon size="large" name="apps"></ion-icon>
  </button>
  <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
    <ion-icon size="large" name="person-circle-sharp"></ion-icon>
  </button>
  <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
    <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
  </button>
</div>
</ion-content>