<ion-header style="background-color: white;">
  <ion-toolbar style="padding: 20px 10px 15px;">
      <ion-row style="display: flex;justify-content: space-between;">
        <div>
          <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%" (click)="goto_visibility()"></ion-icon>
        </div>  
        <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 20px;display: flex;
        align-items: center;align-items: center;">          
        Choose who can view your phone
        </div> 
        <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;"> 
        </div>
      </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="phoneVisForm">
  <ion-list>
    <ion-radio-group formControlName="phoneVisibility" (ionChange)="updatePhoneVisibility()" [allowEmptySelection]="true" value="turtles">
      <ion-item class="ion-item">
        <ion-label><b>Private</b><h6 style="color: gray;">Only visible to you</h6></ion-label>
        <ion-radio slot="end" value="private"></ion-radio>
      </ion-item>  
      
      <ion-item class="ion-item">
        <ion-label><b>Network</b><h6 style="color: gray;">Connections verified by you & your university corporate alumni network can view</h6></ion-label>
        <ion-radio slot="end" value="network"></ion-radio>
      </ion-item> 
      
      <ion-item class="ion-item">
        <ion-label><b>Employers</b><h6 style="color: gray;">Visible to organisations & recruiters</h6></ion-label>
        <ion-radio slot="end" value="employers"></ion-radio>
      </ion-item> 

      <ion-item class="ion-item">
        <ion-label><b>Public</b><h6 style="color: gray;">Anyone on talent chek can see your phone number</h6></ion-label>
        <ion-radio slot="end" value="public"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</form>
  <div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
      <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
      <ion-icon size="large" name="apps"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
    </button>
  </div>
</ion-content>
