<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="3">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_profileSearch()" style="margin-top:14%"></ion-icon>
            </ion-col>

            <ion-col size="6">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">search-settings</ion-title>
            </ion-col>
            <ion-col size="3">
                <ion-title style="margin-top:19%" (click)="searchresults()">Done</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="advsearchForm" >

        <div class="button-content">


            <ion-label class="labels">Skills<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let skill of selectedSkills" class="selected-skill">{{ skill }}
                        <ion-icon name="close-circle" (click)="removeSkill(skill)"></ion-icon>
                    </div>
                  </div> 
                <ion-input  warp="soft" (ionInput)="onSearchSkill($event.target.value)" [formControl]="searchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showSkillResults">
                <ion-item *ngFor="let result of searchSkillResults" (click)="selectSkill(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">Country <small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-searchbar style="padding-top: 22px;" class="blackTheme" placeholder="country" showcancelbutton="" 
                debounce="100" (ionInput)="filterList($event)" 
                formControlName="country" [(ngModel)]="countryVal"  (ionBlur)="unCheckFocus()"
                search-icon=“undefined”></ion-searchbar>
            </ion-item>
            <ion-row>
                <ion-col>
                  <ion-list *ngIf="IsSearchListShow" lines="full">
                    <ion-item *ngFor="let cElement of countryResponse">
                      <ion-label class="ion-text-wrap" (click)="goToSearchSelectedItem(cElement.text, cElement.id)">
                        {{ cElement.text }}
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>

            <ion-label class="labels">City</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let city of selectedCities" class="selected-skill">{{ city }}
                        <ion-icon name="close-circle" (click)="removeCity(skill)"></ion-icon>
                    </div>
                  </div> 
                <ion-input placeholder="Search cities" (ionInput)="onSearch($event.target.value)" [formControl]="searchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showResults">
                <ion-item *ngFor="let result of searchResults" (click)="selectCity(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list> 
 
            <ion-label class="labels">Designation/Role </ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-input formControlName="designation"></ion-input>
            </ion-item>

            <ion-label class="labels">Year of Experience </ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-input formControlName="designation"></ion-input>
            </ion-item>


            <ion-label class="labels">Class/Degree/Course<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-searchbar style="padding-top: 22px;" class="blackTheme" placeholder="Institution Name" showcancelbutton="" debounce="100" (ionInput)="filterdegreeList($event)" formControlName="degree" [(ngModel)]="degreeListVal" (ionBlur)="unDegreeList()" search-icon=“undefined”></ion-searchbar>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-list *ngIf="IsDegreeListShow" lines="full">
                        <ion-item *ngFor="let cElement of degreeList">
                            <ion-label class="ion-text-wrap" (click)="goToDegreeListItem(cElement.text, cElement.id)">
                                {{ cElement.text }}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>


            <ion-label class="labels">Field of Study<small style="color: #f70505;">*</small></ion-label>

            <ion-item fill="outline" class="input-field">

                <ion-searchbar style="padding-top: 22px;" class="blackTheme" placeholder="Institution Name" showcancelbutton="" debounce="100" (ionInput)="filterstudyList($event)" formControlName="fieldofStudy" [(ngModel)]="studyListVal" (ionBlur)="unstudyList()" search-icon=“undefined”></ion-searchbar>


            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-list *ngIf="IsstudyListShow" lines="full">
                        <ion-item *ngFor="let tittle of studyList">
                            <ion-label class="ion-text-wrap" (click)="goTostudyListItem(tittle.text, tittle.id)">
                                {{tittle.text}}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-label class="labels">Organisation Name / Institution Name </ion-label>

            <ion-item fill="outline" class="input-field">
                <ion-searchbar style="padding-top: 22px;" class="blackTheme" placeholder="Institution Name" showcancelbutton="" debounce="100" (ionInput)="filterOrgList($event)" formControlName="organisationName" [(ngModel)]="organisationVal" (ionBlur)="unCheckFocus()"
                    search-icon=“undefined”></ion-searchbar>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-list *ngIf="IsorgListShow" lines="full">
                        <ion-item *ngFor="let cElement of organisationList">
                            <ion-label class="ion-text-wrap" (click)="goToOniSearchSelectedItem(cElement.text, cElement.id)">
                                {{ cElement.text }}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>  
        </div>

    </form>

    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
        <ion-icon size="large" name="search-circle"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
        <ion-icon size="large" name="apps"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
        <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
      </button>
    </div>
</ion-content>