<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="3">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_profileSearch()" style="margin-top:14%"></ion-icon>
            </ion-col>

            <ion-col size="6">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">search-settings</ion-title>
            </ion-col>
            <ion-col size="3">
                <ion-title style="margin-top:19%" (click)="searchresults()">Done</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="advsearchForm">

        <div class="button-content">


            <ion-label class="labels">Skills</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let skill of selectedSkills" class="selected-skill">{{ skill }}
                        <ion-icon name="close-circle" (click)="removeSkill(skill)"></ion-icon>
                    </div>
                </div>
                <ion-input warp="soft" (ionInput)="onSearchSkill($event.target.value)" [formControl]="searchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showSkillResults">
                <ion-item *ngFor="let result of searchSkillResults" (click)="selectSkill(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">Country</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let country of selectedCountry" class="selected-skill">{{ country }}
                        <ion-icon name="close-circle" (click)="removeCountry(country)"></ion-icon>
                    </div>
                </div>
                <ion-input placeholder="Select Country" (ionInput)="onCountrySearch($event.target.value)" [formControl]="countrysearchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showcountyResults">
                <ion-item *ngFor="let result of searchResults" (click)="selectcountry(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">State</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let state of selectedState" class="selected-skill">{{ state }}
                        <ion-icon name="close-circle" (click)="removeState(state)"></ion-icon>
                    </div>
                </div>
                <ion-input placeholder="Select States" (ionInput)="onstateSearch($event.target.value)" [formControl]="statesearchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showStateResults">
                <ion-item *ngFor="let result of searchResults" (click)="selectState(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>


            <ion-label class="labels">City</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let city of selectedCities" class="selected-skill">{{ city }}
                        <ion-icon name="close-circle" (click)="removeCity(skill)"></ion-icon>
                    </div>
                </div>
                <ion-input placeholder="Select Cities" (ionInput)="onSearch($event.target.value)" [formControl]="citysearchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showResults">
                <ion-item *ngFor="let result of searchResults" (click)="selectCity(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">Designation/Role </ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-input formControlName="designationsearch"></ion-input>
            </ion-item>

            <ion-label class="labels">Year of Experience </ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-input type="number" formControlName="experiencesearch"></ion-input>
            </ion-item>


            <ion-label class="labels">Qualification</ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-searchbar class="blackTheme" placeholder="Institution Name" showcancelbutton="" debounce="100" (ionInput)="filterdegreeList($event)" formControlName="qualificationsearch" [(ngModel)]="degreeListVal" (ionBlur)="unDegreeList()" search-icon=“undefined”></ion-searchbar>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-list *ngIf="IsDegreeListShow" lines="full">
                        <ion-item *ngFor="let cElement of degreeList">
                            <ion-label class="ion-text-wrap" (click)="goToDegreeListItem(cElement.text, cElement.id)">
                                {{ cElement.text }}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>


            <ion-label class="labels">Field of Study</ion-label>

            <ion-item fill="outline" class="input-field">

                <ion-searchbar class="blackTheme" placeholder="Select the field you want" showcancelbutton="" debounce="100" (ionInput)="filterstudyList($event)" formControlName="fieldofstudysearch" [(ngModel)]="studyListVal" (ionBlur)="unstudyList()" search-icon=“undefined”></ion-searchbar>


            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-list *ngIf="IsstudyListShow" lines="full">
                        <ion-item *ngFor="let tittle of studyList">
                            <ion-label class="ion-text-wrap" (click)="goTostudyListItem(tittle.text, tittle.id)">
                                {{tittle.text}}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-label class="labels">Organisation Name / Institution Name </ion-label>

            <ion-item fill="outline" class="input-field">
                <ion-searchbar class="blackTheme" placeholder="Organisation Name / Institution Name" showcancelbutton="" debounce="100" (ionInput)="filterOrgList($event)" formControlName="onisearch" [(ngModel)]="organisationVal" (ionBlur)="unCheckFocus()" search-icon=“undefined”></ion-searchbar>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-list *ngIf="IsorgListShow" lines="full">
                        <ion-item *ngFor="let cElement of organisationList">
                            <ion-label class="ion-text-wrap" (click)="goToOniSearchSelectedItem(cElement.text, cElement.id)">
                                {{ cElement.text }}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </div>

    </form>

    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
    <ion-icon size="large" name="search-circle"></ion-icon>
  </button>
        <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
    <ion-icon size="large" name="earth-sharp"></ion-icon>
  </button>
        <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
     <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    
    
  </button>
        <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
    <ion-icon size="large" name="person-circle-sharp"></ion-icon>
  </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
    <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
    
  </button>
    </div>
</ion-content>