<ion-header>
    <ion-toolbar class="new-background-color">

        <ion-row>
            <ion-col size="12">

            </ion-col>

        </ion-row>

        <ion-row>

            <ion-col size="0.5">

            </ion-col>
            <ion-col size="2">
                <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
            </ion-col>

            <ion-col size="7">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; ">My Profile</ion-title>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="10">
                <ion-title class="ion-text-wrap">{{category}}</ion-title>
            </ion-col>

            <ion-col size="2">
                <ion-avatar size="small">
                    <img alt="Silhouette of a person's head" style=" height: 60%;width: 60%;"
                        src={{img}} />
                </ion-avatar>
            </ion-col>
        </ion-row>


    </ion-toolbar>
</ion-header>

<!-- Email -->

<ion-content style="padding-bottom: 60px;">
    <form>
        <ion-card class="talentcard1">
            <ion-card-content>
                <ion-row>
                    <ion-col size="10">
                        <ion-title style="color:black; margin-left: -9%;">Profile</ion-title>
                    </ion-col>
                    <ion-col size="2">
                        <img src="./assets/icon/edit_icon.png" (click)="profile( )" id="prfoileimg1">
                    </ion-col>
                </ion-row>

                <ion-row class="talentrow">
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5">
                        <ion-label>Name : <b>{{username}}</b></ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Category : {{category}}</ion-label>
                    </ion-col>
                    <ion-col size="15" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Location : {{location}}</ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Phone No :{{mobile}}</ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Email Id: {{email}}</ion-label>
                    </ion-col>

                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Language Know: {{language}}</ion-label>
                    </ion-col>


                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Hobbies: {{hobbies}}</ion-label>
                    </ion-col>
                </ion-row>

            </ion-card-content>
        </ion-card>

        <!------- Skills card------ -->


        <ion-card class="talentcard1" *ngIf="skillscard">
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        <ion-title style="color:black; margin-left: -9%;">Skill
                            <ion-icon style="margin-top: 1px;    color: #8b8b8b;    width: 17px;"
                                name="add-circle-outline" (click)="Skill()"></ion-icon>
                        </ion-title>
                    </ion-col>

                </ion-row>

                <ion-row class="talentrow" *ngFor="let x of skillList">

                    <ion-col>
                        <ion-label>{{x.skillName}}</ion-label>
                        <ion-progress-bar value="0.{{x.expertise}}"></ion-progress-bar>
                    </ion-col>
                    <ion-col size="2">
                        <img src="./assets/icon/edit_icon.png" id="prfoileimg1" (click)="Skill(x.skillId)">


                        <ion-icon name="trash-outline" style="padding-left: 24%;"(click)="deleteSkills(x.skillId)"></ion-icon>

                    </ion-col>
                    <!-- <ion-col size="2">
                        <ion-icon name="trash-outline" style="padding-right: 15px;"></ion-icon>

                    </ion-col> -->
                </ion-row>
                <!-- <ion-row class="talentrow">

                <ion-col>
                    <ion-label> Website Devlopement</ion-label>
                    <ion-progress-bar value="0.6"></ion-progress-bar>
                </ion-col>

            </ion-row> -->

            </ion-card-content>
        </ion-card>
        <!-- Add card empty -->
        <ion-card *ngIf="!skillscard" class="talentcard1" style="padding-bottom: 35px ;">
            <ion-card-content>
                <ion-row>

                    <ion-col size="5">
                        <img src="./assets\icon\save add.png" id="prfoileimg1" (click)="Skill()"
                            style="    width: 50%; height: 73%; margin-left: 100%;  margin-top: 14%;">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-title style="color:black;margin-top: 5%;
                   width: 112%;    text-align: center;">Add Skills</ion-title>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <!-------  Certifications card------ -->


        <ion-card class="talentcard1" *ngIf="certificationcard">
            <ion-card-content>
                <ion-row style="    padding-bottom: 10px;">
                    <ion-col>
                        <ion-title style="color:black;    width: 105%; margin-left: -9%;"> Certifications
                            <ion-icon style="margin-top: 1px;    color: #8b8b8b;    width: 17px;"
                                name="add-circle-outline" (click)="certification()"></ion-icon>
                        </ion-title>
                    </ion-col>
                </ion-row>
                <ion-card class="talentcard2" *ngFor="let x of certifications">
                    <ion-card-content>

                        <ion-row style="text-align: end;">
                            <ion-col size="12">
                                <button ion-button (click)="showDropdown(x.certId)" style="    background: #edf1fc;">
                                  <ion-icon name="ellipsis-vertical"></ion-icon>
                                </button>
                                <div *ngIf="x.certId == showDropdownFlag" (click)="closeDropdown(x.certId)">
                                  <ion-list style="    width: 50%; margin-left: 46%;">
                                    <ion-item (click)="certification(x.certId)">
                                        <ion-icon name="create-outline" style="padding-right: 15px;"></ion-icon>Edit
                                    </ion-item>
                                    <ion-item (click)="deleteCertificateCard(x.certId)" style="color:red">
                                        <ion-icon name="trash-outline" style="padding-right: 15px;"></ion-icon>Delete
                                    </ion-item>
                                  </ion-list>
                                </div>
                              </ion-col>
                              
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-label>{{x.certificationName}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label>{{x.issuedBy}}</ion-label>
                            </ion-col>
                        </ion-row>

                    </ion-card-content>
                </ion-card>

            </ion-card-content>
        </ion-card>

        <!-- Add card empty -->
        <ion-card *ngIf="!certificationcard" class="talentcard1" style="padding-bottom: 35px ;">
            <ion-card-content>
                <ion-row>

                    <ion-col size="5">
                        <img src="./assets\icon\save add.png" id="prfoileimg1" (click)="certification()"
                            style="    width: 50%; height: 73%; margin-left: 100%;  margin-top: 14%;">
                    </ion-col>
                </ion-row>
                <ion-row style="    text-align: center;">
                    <ion-col>
                        <ion-title style="color:black;margin-top: 5%;
                    text-align: center;width: 112%;">Add Certifications</ion-title>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <!------- Academics card------ -->

        <ion-card  class="talentcard1" *ngIf="educationcard">
            <ion-card-content >
                <ion-row  style="    padding-bottom: 10px;">
                    <ion-col size="10">
                        <ion-title style="color:black; margin-left: -9%;">Academics</ion-title>
                    </ion-col>
                
                    <!-- <ion-col size="2">
                      <ion-icon style="color:#ACCCFF;" size="large" name="duplicate"></ion-icon>
                  </ion-col> -->
                </ion-row>

                <ion-card  class="talentcard2" *ngFor="let x of education">
                    <ion-card-content> 

                        <ion-row style="text-align: end;">
                            <ion-col size="12">
                                <button ion-button (click)="showDropdown(x.eduId)" style="    background: #edf1fc;">
                                  <ion-icon name="ellipsis-vertical"></ion-icon>
                                </button>
                                <div *ngIf="x.eduId == showDropdownFlag" (click)="closeDropdown(x.eduId)">
                                  <ion-list style="    width: 50%; margin-left: 46%;">
                                    <ion-item (click)="educations(x.eduId)">
                                        <ion-icon name="create-outline" style="padding-right: 15px;"></ion-icon>Edit
                                    </ion-item>
                                    <ion-item (click)="deleteeducation(x.eduId)" style="color:red">
                                        <ion-icon name="trash-outline" style="padding-right: 15px;"></ion-icon>Delete
                                    </ion-item>
                                  </ion-list>
                                </div>
                              </ion-col>
                              
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-label style="font-size: 12px;font-weight: bold;">{{x.institutionName}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label
                                    style="font-size: 10px; font-weight: 700;">{{x.institutionLocation}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label style="font-size: 10px; font-weight: 700;">{{x.courseStart}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label style="font-size: 10px; font-weight: 700;">{{x.fieldofStudy}}</ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: end;" *ngIf="x.status=='Verified Qualification'">
                                <ion-label> <span class="badge badge-solid-green">
                                        {{x.status}}</span></ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: end;" *ngIf="x.status=='Verification Pending'">
                                <ion-label> <span class="badge badge-solid-blue">
                                        {{x.status}}</span></ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: end;"
                                *ngIf="x.status=='Fake Qualification' || x.status=='Discontinued' ||x.status=='Debarred' || x.status=='Information Mismatch' ||x.status=='Unverified'">
                                <ion-label> <span class="badge badge-solid-red">
                                        {{x.status}}</span></ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <!-- <ion-label>{{x.}}</ion-label> -->
                            </ion-col>
                        </ion-row>

                    </ion-card-content>
                </ion-card>
            </ion-card-content>
        </ion-card>
        <!-- Add card empty -->
        <ion-card *ngIf="!educationcard" class="talentcard1" style="padding-bottom: 35px ;">
            <ion-card-content>
                <ion-row>

                    <ion-col size="5">
                        <img src="./assets\img\addeduicon.png" id="prfoileimg1" (click)="educations()"
                            style="    width: 50%; height: 73%; margin-left: 100%; ">
                    </ion-col>
                </ion-row>
                <ion-row style="    text-align: center;">
                    <ion-col>
                        <ion-title style="color:black;margin-top: 5%;
                    width: 104%;">Add Education</ion-title>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <!------- Experience card------ -->


        <ion-card class="talentcard1" *ngIf="experiencecard">
            <ion-card-content>
                <ion-row  style="    padding-bottom: 10px;">
                    <ion-col size="10">
                        <ion-title style="color:black; margin-left: -9%;">Experience</ion-title>
                    </ion-col>
                   
                </ion-row>


                <ion-card class="talentcard2" *ngFor="let x of experience">
                    <ion-card-content>

                        <ion-row style="text-align: end;">
                            <ion-col size="12">
                                <button ion-button (click)="showDropdown(x.expId)" style="    background: #edf1fc;">
                                  <ion-icon name="ellipsis-vertical"></ion-icon>
                                </button>
                                <div *ngIf="x.expId == showDropdownFlag" (click)="closeDropdown(x.expId)">
                                  <ion-list style="    width: 50%; margin-left: 46%;">
                                    <ion-item (click)="experiences(x.expId)">
                                        <ion-icon name="create-outline" style="padding-right: 15px;"></ion-icon>Edit
                                    </ion-item>
                                    <ion-item (click)="presentModal(x.expId)" style="color:red">
                                        <ion-icon name="trash-outline" style="padding-right: 15px;"></ion-icon>Delete
                                    </ion-item>
                                  </ion-list>
                                </div>
                              </ion-col>
                              
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-label>{{x.designation}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label>{{x.expStart}} - {{x.expEnd}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label>{{x.organisationName }}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label>{{x.orgLocation}}</ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: end;">
                                <ion-label>{{x.status}}</ion-label>
                            </ion-col>
                        </ion-row>

                    </ion-card-content>
                </ion-card>

            </ion-card-content>
        </ion-card>

        <!-- Add card empty -->
        <ion-card *ngIf="!experiencecard" class="talentcard1" style="padding-bottom: 35px ;">
            <ion-card-content>
                <ion-row>

                    <ion-col size="5">
                        <img src=".\assets\img\briefcase (1).png" id="prfoileimg1" (click)="experiences()"
                            style="    width: 50%; height: 73%; margin-left: 100%;  margin-top: 14%;">
                    </ion-col>
                </ion-row>
                <ion-row style="    text-align: center;">
                    <ion-col>
                        <ion-title style="color:black;margin-top: 5%;
                width: 104%;">Add Work Experience</ion-title>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <!------- Connections card------ -->
        <ion-card class="talentcard1" *ngIf="connectioncard">
            <ion-card-content>
                <ion-row>
                    <ion-col size="10">
                        <ion-title style="color:black; margin-left: -9%;">Connections</ion-title>
                    </ion-col>
                    <ion-col size="2">
                        <img src="./assets/icon/edit_icon.png" (click)="Connections()" id="prfoileimg1">
                    </ion-col>
                </ion-row>

                <ion-row class="talentrow">
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5">
                        <ion-label>Name : <b>kesavan M</b></ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Category : Job Seeker,Business Owner,Freelancer</ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Location : Madurai,India</ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Phone No :8838656535</ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Email Id: kesavan1542@gmail.com</ion-label>
                    </ion-col>

                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>language Know: Tamil,English</ion-label>
                    </ion-col>


                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label>Hobbies: Cricket,Football</ion-label>
                    </ion-col>
                </ion-row>

            </ion-card-content>
        </ion-card>
        <!-- Add card empty -->
        <ion-card *ngIf="!connectioncard" class="talentcard1" style="padding-bottom: 35px ;">
            <ion-card-content>
                <ion-row>

                    <ion-col size="5">
                        <img src="./assets\icon\save add.png" id="prfoileimg1" (click)="Connections()"
                            style="    width: 50%; height: 73%; margin-left: 100%;  margin-top: 14%;">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-title style="color:black;margin-top: 5%; text-align: center;width: 104%;"> Add
                            Connection</ion-title>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <!-- Extracurricular card------ -->
        <ion-card class="talentcard1" *ngIf="clubscard">
            <ion-card-content>
                <ion-row  style="    padding-bottom: 10px;">
                    <ion-col size="10">
                        <ion-title style="color:black; margin-left: -9%;">Extracurricular</ion-title>
                    </ion-col>
                   
                </ion-row>
                <ion-card class="talentcard2" *ngFor="let x of club">
                    <ion-card-content>

                        <ion-row style="text-align: end;">
                            <ion-col size="12">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-label>{{x.clubName}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label>{{x.participatedFrom}}</ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label>{{x.clubBranch }}</ion-label>
                            </ion-col>
                            <ion-col size="12" style="text-align: end;">
                                <ion-label>{{x.status}}</ion-label>
                            </ion-col>
                        </ion-row>

                    </ion-card-content>
                </ion-card>

            </ion-card-content>
        </ion-card>


        <!-- Add card empty -->
        <ion-card *ngIf="!clubscard" class="talentcard1" style="padding-bottom: 35px ;">
            <ion-card-content>
                <ion-row>

                    <ion-col size="5">
                        <img src="./assets\icon\save add.png" id="prfoileimg1" (click)="Extracurricular()"
                            style="    width: 50%; height: 73%; margin-left: 100%;  margin-top: 14%;">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-title style="color:black;margin-top: 5%;    text-align: center;
                    width: 104%;">Add Extracurricular</ion-title>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <div class="footer-nav">
            <button [ngClass]="{'selected': selectedTab === 'search'}"
                (click)="setSelectedTab('search');goto_profileSearch();">
                <ion-icon size="large" name="search-circle"></ion-icon>
            </button>
            <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
                <ion-icon size="large" name="earth-sharp"></ion-icon>
            </button>
            <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
                <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">

            </button>
            <button [ngClass]="{'selected': selectedTab === 'profile'}"
                (click)="setSelectedTab('profile');goto_profile();">
                <ion-icon size="large" name="person-circle-sharp"></ion-icon>
            </button>
            <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
                <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

            </button>
        </div>
    </form>
</ion-content>