<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
    <div class="title">
        <img src="../../assets/img/Picture1.png" class="check" />
        <h4>Givven Dashboard</h4>

    </div>

    <ion-grid>
        <ion-row class="ion-align-items-start">
            <ion-col>
                <div><img style="height: 46px;width: 45px;background-color: #27246F; margin-right: 54%;;" src=".../../assets/img/tracking.png" (click)="goto_gtrack()">
                    <h3 style="font-size:xx-small; margin-top: 17%; margin-left: -54%;">G-Track</h3>
                </div>
            </ion-col>
            <ion-col>
                <div></div>
            </ion-col>


        </ion-row>

        <ion-row class="ion-align-items-end">
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>

        </ion-row>


        <ion-row class="ion-align-items-end">
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>

        </ion-row>

        <ion-row class="ion-align-items-end">
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>

        </ion-row>


        <ion-row class="ion-align-items-end">
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>

        </ion-row>


        <ion-row class="ion-align-items-center">
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F; margin-right: 54%;;" src=".../../assets/img/contrack.png" (click)="goto_Container_track()">
                    <h3 style="font-size:xx-small; margin-top: 17%; margin-left: -41%;">Container-track</h3>
                </div>
            </ion-col>
            <ion-col>
                <div>&nbsp;</div>
            </ion-col>
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F;  margin-left: 50%;" src=".../../assets/img/callentry.png" (click)="goto_callentry()">
                    <h3 style="font-size:xx-small; margin-top: 17%; margin-right: -51%;">Call Entry</h3>
                </div>
            </ion-col>

        </ion-row>

        <ion-row class="ion-align-items-baseline">
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F; margin-right: 54%;;" src=".../../assets/img/enquiry.png" (click)="dismiss()">
                    <h3 style="font-size:xx-small; margin-top: 17%; margin-left: -54%;">Enquiry</h3>
                </div>
            </ion-col>
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F;" src=".../../assets/img/lclmatrix.png" (click)="dismiss()">
                    <h3 style="font-size:xx-small; margin-top: 17%;">LCL Matrix</h3>
                </div>
            </ion-col>
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F;  margin-left: 50%;" src=".../../assets/img/LoadPlanner.png" (click)="dismiss()">
                    <h3 style="font-size:xx-small; margin-top: 17%; margin-right: -49%;">Load Planner</h3>
                </div>
            </ion-col>

        </ion-row>

        <ion-row class="ion-align-items-stretch">
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F; margin-right: 54%;;" src=".../../assets/img/fclmatrix.png" (click)="dismiss()">
                    <h3 style="font-size:xx-small; margin-top: 17%; margin-left: -44%;">FCL Matrix</h3>
                </div>
            </ion-col>
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F;" src=".../../assets/img/airfright.png" (click)="goto_airfreight()">
                    <h3 style="font-size:xx-small; margin-top: 17%;">Air frieght</h3>
                </div>
            </ion-col>
            <ion-col>
                <div><img style="height: 40px;width: 39px;background-color: #27246F;  margin-left: 50%;" src=".../../assets/img/fclglobal.png" (click)=" airfreight()">
                    <h3 style="font-size:xx-small; margin-top: 17%; margin-right: -54%;">FCL Global</h3>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>