<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_settings()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">Language settings</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-item class="checkbox-item">
        <ion-avatar slot="start">
            <img src="../../assets/icon/ind-flag.png" />
        </ion-avatar>
        <ion-label>
            India
        </ion-label>
        <ion-checkbox class="round-checkbox" slot="end"></ion-checkbox>
    </ion-item>

    <ion-item class="checkbox-item">
        <ion-avatar slot="start">
            <img src="../../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
            India
        </ion-label>
        <ion-checkbox class="round-checkbox" slot="end"></ion-checkbox>
    </ion-item>

    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
  <ion-icon size="large" name="search-circle"></ion-icon>
  </button>
        <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
  <ion-icon size="large" name="earth-sharp"></ion-icon>
  </button>
        <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
  <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    
  
  </button>
        <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
  <ion-icon size="large" name="person-circle-sharp"></ion-icon>
  </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
  <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
  
  </button>
    </div>
</ion-content>