<ion-header>
    <ion-toolbar class="new-background-color">

        <ion-row>
            <ion-col size="12">

            </ion-col>

        </ion-row>

        <ion-row>

            <ion-col size="0.5">

            </ion-col>
            <ion-col size="2">

            </ion-col>

            <ion-col size="7">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;text-align: center; ">Profile</ion-title>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="10">
                <ion-title class="ion-text-wrap">{{instname}}</ion-title>
            </ion-col>

            <ion-col size="2">
                <ion-avatar size="small" *ngIf="prof">
                    <img style=" height: 60%;width: 60%;" (click)="profile( )" src={{logo}} />
                </ion-avatar>

                <ion-avatar size="small" *ngIf="!prof">
                    <img style=" height: 60%;width: 60%;" (click)="profile( )" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
            </ion-col>
        </ion-row>


    </ion-toolbar>
</ion-header>


<ion-content style="padding-bottom: 60px;">
    <form>
        <ion-card class="talentcard1">
            <ion-card-content>
                <ion-row>
                    <ion-col size="10">
                        <ion-title style="color:black; margin-left: -9%;">Profile</ion-title>
                    </ion-col>
                    <ion-col size="2">
                        <img src="./assets/icon/edit_icon.png" (click)="profileinsti( )" id="prfoileimg1">
                    </ion-col>
                </ion-row>

                <ion-row class="talentrow">
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5">
                        <ion-label style="color: #A3A4A5"> Name :</ion-label>
                        <ion-label><b>{{instname}}</b></ion-label>
                    </ion-col>

                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label style="color: #A3A4A5"> Phone No :</ion-label>
                        <ion-label><b>{{mobile}}</b></ion-label>
                    </ion-col>
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label style="color: #A3A4A5"> Email Id :</ion-label>
                        <ion-label><b>{{email}}</b></ion-label>
                    </ion-col>
                    <ion-col size="12">
                        <ion-label style="color: #A3A4A5">Location :</ion-label>
                        <ion-label><b>{{instlocation}}</b></ion-label>
                    </ion-col>
                </ion-row>

            </ion-card-content>
        </ion-card>


        <ion-card class="talentcard1">
            <ion-card-content>
                <ion-row>
                    <ion-col size="10">
                        <ion-title style="color:black; margin-left: -9%;">About the Institution</ion-title>
                    </ion-col>
                    <ion-col size="2">
                        <img src="./assets/icon/edit_icon.png" (click)="profileinsti( )" id="prfoileimg1">
                    </ion-col>
                </ion-row>



                <ion-row class="talentrow">
                    <ion-col size="12" style="border-bottom: 1px solid #A3A4A5">
                        <ion-label style="color: #A3A4A5">About :</ion-label>
                        <ion-label><b>{{aboutdesc}}</b></ion-label>
                    </ion-col>
                    <!-- <ion-col size="12" style="border-bottom: 1px solid #A3A4A5">
                      <ion-label>Domain : <b>{{industrydomain}}</b></ion-label>
                  </ion-col> -->
                    <ion-col size="15" style="border-bottom: 1px solid #A3A4A5;">
                        <ion-label style="color: #A3A4A5">Entity Type :</ion-label>
                        <ion-label><b>{{entitytype}}</b></ion-label>
                    </ion-col>
                    <!-- <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                      <ion-label>Company Size :{{companysize}}</ion-label>
                  </ion-col> -->
                    <ion-col size="12">
                        <ion-label style="color: #A3A4A5">Founded :</ion-label>
                        <ion-label><b>{{foundedin}}</b></ion-label>
                    </ion-col>
                    <!-- <ion-col size="12" >
                    <ion-label>Registration No : {{registrationno}}</ion-label>
                </ion-col> -->

                </ion-row>



            </ion-card-content>
        </ion-card>
        <ion-card class="talentcard1">
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        <ion-title style="color:black;    width: 105%; margin-left: -9%;">Payment Info

                        </ion-title>
                    </ion-col>
                    <!-- <ion-col style="   text-align: end;">
                        <ion-icon style="margin-top: 1px;color:#ACCCFF;font-size: 32px;" name="add-circle" (click)="payment()"></ion-icon>
                    </ion-col> -->
                </ion-row>
                <ion-card class="talentcard2">
                    <ion-card-content>

                        <ion-row style="text-align: end;">
                            <ion-col>
                                <img src="./assets/icon/edit_icon.png" (click)="payment(userId)">
                            </ion-col>

                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-label style="color: #A3A4A5">Amount Holder Name :</ion-label>
                                <ion-label><b>{{accountHolderName}}</b></ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label style="color: #A3A4A5">Bank A/C NO :</ion-label>
                                <ion-label><b>{{accountNumber}}</b></ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label style="color: #A3A4A5">IFSC Code :</ion-label>
                                <ion-label><b>{{ifscCode}}</b></ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label style="color: #A3A4A5">Service Fee for Verification :</ion-label>
                                <ion-label><b>{{feeAmount}} {{feeCurrency}}</b></ion-label>
                            </ion-col>

                            <!-- <ion-col size="12">
                            <ion-label>{{accountHolderName}}</ion-label>
                        </ion-col> -->
                        </ion-row>

                    </ion-card-content>
                </ion-card>

            </ion-card-content>
        </ion-card>

        <ion-card class="talentcard1" *ngIf="connectioncard">
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        <ion-title style="color:black;    width: 105%; margin-left: -9%;">Verified Network
                            <ion-icon style="margin-top: 1px;    color: #8b8b8b;    width: 17px;" name="add-circle-outline" (click)="Connections()"></ion-icon>
                        </ion-title>
                    </ion-col>

                </ion-row>
                <ion-card class="talentcard2" *ngFor="let i of connectionList">
                    <ion-card-content>

                        <!-- <ion-row style="text-align: end;">
                        <ion-col size="12">
                            <button ion-button (click)="showDropdown(x.certId)" style="    background: #edf1fc;">
                              <ion-icon name="ellipsis-vertical"></ion-icon>
                            </button>
                            <div *ngIf="x.certId == showDropdownFlag" (click)="closeDropdown(x.certId)">
                              <ion-list style="  height: 106px;width: 50%; margin-left: 46%;">
                                <ion-item (click)="certification(x.certId)">
                                    <ion-icon name="create-outline" style="padding-right: 15px;"></ion-icon>Edit
                                </ion-item>
                                <ion-item (click)="deleteCertificateCard(x.certId)" style="color:red">
                                    <ion-icon name="trash-outline" style="padding-right: 15px;"></ion-icon>Delete
                                </ion-item>
                              </ion-list>
                            </div>
                          </ion-col>
                    </ion-row> -->

                        <ion-row>

                            Verified Network
                            <ion-col size="12">
                                <ion-label> <b>i.connectionCount </b></ion-label>
                                <ion-label> <b>i.relationship </b></ion-label>
                            </ion-col>
                        </ion-row>

                    </ion-card-content>
                </ion-card>
            </ion-card-content>
        </ion-card>

        <!-- Add card empty -->
        <ion-card *ngIf="!connectioncard" class="talentcard1" style="padding-bottom: 35px ;">
            <ion-card-content>
                <ion-row>

                    <ion-col size="5">

                        <img src="\assets\img\addconnectionicon.png" id="prfoileimg1" (click)="Connections()" style="    width: 50%; height: 73%; margin-left: 100%;  margin-top: 14%;">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-title style="color:black;margin-top: 5%; text-align: center;width: 104%;"> Add Connection
                        </ion-title>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

    </form>


    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
      <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
        <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
        <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_orgjobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
      </button>
        <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_instijobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
      </button>
        <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
       <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')"> 
    </button>
        <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_orghome();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')"> 
     </button>
        <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_instihome();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')"> 
     </button>

        <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
        <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_orgprofile();">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
      </button>
        <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_instiprofile();">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
      
    </button>
    </div>
</ion-content>