<ion-content>
    <!-- <div class="not-now">
       logo goes here
    </div> -->

    <div style="width: 100%;" class="line-with-text">
        <br>
        <img style="max-width: 57%;padding-top: 40px;" src="../../assets/img/tc_logo_with_text.png" >  
      <br>
 
    </div>

    <ion-row>
        <ion-col>
            <div class="imageCss"><img src="./assets/img/illustration_hello_dear.png" /></div>
        </ion-col>
    </ion-row>
    <div class="hello-dear">
        <div style="font-size: 24px;font-family: Mr-eaves;">Hello, dear!</div>
        <div style="padding-bottom: 30px;font-size: 16px;color: #5E6061; font-family: alina-sans;">Let's Create an account. It's very simple!</div>
    </div>
    <div class="display-justify">
        <ion-button class="custom-button" (click)="goto_signup()">Sign up</ion-button>
    </div>



    <br>

    <div class="line-with-text">
        <hr class="hr1">
        <span class="or-text">OR</span>
        <hr class="hr2">
    </div>

    <div class="sign-in">
        <div style="font-size: 16px; font-family: alina-sans;">Already a Talentchek member? </div>
        &nbsp;<a href="sign-in" style="font-size: 18px; font-family: Mr-eaves;">Sign in</a>
    </div>
</ion-content>