<ion-content>
    <div class="not-now">
        Not now, maybe later
    </div>
    <ion-row>
        <ion-col>
            <div class="imageCss"><img src="./assets/img/illustration_hello_dear.png" /></div>
        </ion-col>
    </ion-row>
    <div class="hello-dear">
        <div style="font-size: 24px;font-family: sans-serif;">Hello, dear!</div>
        <div style="padding-bottom: 30px;font-size: 16px;color: #5E6061;">Let's Create an account. it's very simple and</div>
    </div>
    <div class="display-justify">
        <ion-button class="custom-button" (click)="goto_signup()">Sign up</ion-button>
    </div>
    <div class="line-with-text">
        <hr class="hr1">
        <span class="or-text">OR</span>
        <hr class="hr2">
    </div>

    <div class="sign-in">
        <div style="font-size: 16px;">Already a Jobby member? </div><span style="font-size: 18px;"><b> Sign in</b></span>
    </div>
</ion-content>