<ion-header>

</ion-header>

<style>
    #back {
        background-size: 100%;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        width: 110vw!important;
        height: 104vh!important;
        background-attachment: fixed!important;
        background-position: center center!important;
    }
    
    #otherslides {
        background-size: 100%;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        width: 110vw!important;
        height: 104vh!important;
        background-attachment: fixed!important;
        background-position: center center!important;
    }
</style>

<ion-content padding color="primary">
    <ion-slides #slider pager="false" [options]="slideOpts" (ionSlideDidChange)='ionSlideDidChange()'>
        <ion-slide>
            <div id="back" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'">


                <ion-row>
                    <ion-col>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="title">TALENTCHEK</div>
                        <div class="sub-title">Choose the Right One, Wise One</div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <div class="imageCss"><img src="./assets/img/Illustration.png" alt="Lights" /></div>

                        <br />
                    </ion-col>
                </ion-row>


            </div>


        </ion-slide>
        <ion-slide>


            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'">


                <ion-row>
                    <ion-col>
                        <div class="illustrateCss"><img src="./assets/img/Illustration-conn.png" alt="Lights" /></div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>

                    </ion-col>
                </ion-row>

                <ion-row style="position: relative;
                bottom: -50px;">

                    <ion-card class="talentcard1">
                        <ion-card-content>
                            <div class="slide2">Endorse your way to the Top</div>
                            <!-- <h1>Easy Connection</h1> -->
                            <div class="slide2Paragraph">Stay ahead of the competition by having
                                <br>your profile fully verified by your school,<br> university, and employers.
                            </div>
                            <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                            <br>
                            <br>

                            <span class="dot active"></span>&nbsp;
                            <span class="dot "></span>&nbsp;
                            <span class="dot"></span>&nbsp;
                            <span class="dot"></span>
                        </ion-card-content>

                    </ion-card>

                </ion-row>

            </div>
        </ion-slide>
        <ion-slide>
            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'" style="height:500px">


                <ion-row>
                    <ion-col>
                        <div class="illustrateCss"><img src="./assets/img/Illustration-slide2.png" alt="Lights" /></div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>

                    </ion-col>
                </ion-row>

                <ion-row style="    position: relative;
                bottom: -30px;">

                    <ion-card class="talentcard1">
                        <ion-card-content>
                            <div class="slide2">Find your dream job today!</div>
                            <!-- <h1>Easy Connection</h1> -->
                            <div class="slide2Paragraph">Get matched to job vacancies that exactly match your skills and preferences.</div>
                            <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                            <br>
                            <br>

                            <br>


                            <span class="dot "></span>&nbsp;
                            <span class="dot active"></span>&nbsp;
                            <span class="dot"></span>&nbsp;
                            <span class="dot"></span>
                        </ion-card-content>

                    </ion-card>

                </ion-row>


            </div>
        </ion-slide>

        <ion-slide>
            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'" style="height:500px">

                <ion-row>
                    <ion-col>

                        <div class="illustrateCss"><img src="./assets/img/Illustration-slide3.png" alt="Lights" /></div>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col>

                    </ion-col>
                </ion-row>


                <ion-row style="    position: relative;
                bottom: -55px;">

                    <ion-card class="talentcard1">
                        <ion-card-content>
                            <div class="slide2">Connect the Dots to your Success</div>
                            <!-- <h1>Easy Connection</h1> -->
                            <div class="slide2Paragraph">Be recognized by your students, clients for your expertise and give credits to your investors, sponsors, and mentors for their timely help.

                            </div>
                            <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                            <br>
                            <br>


                            <span class="dot "></span>&nbsp;
                            <span class="dot"></span>&nbsp;
                            <span class="dot active"></span>&nbsp;
                            <span class="dot"></span>
                        </ion-card-content>

                    </ion-card>

                </ion-row>
            </div>
        </ion-slide>

        <ion-slide>
            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'" style="height:500px">



                <ion-row>
                    <ion-col>

                        <div class="illustrateCss"><img src="./assets/img/Illustration-slide4.png" alt="Lights" /></div>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col>

                    </ion-col>
                </ion-row>

                <ion-row>

                    <ion-card class="talentcard1">
                        <ion-card-content>
                            <div class="slide2">Upskill & Grow</div>
                            <!-- <h1>Easy Connection</h1> -->
                            <div class="slide2Paragraph">Head to knowledge bank to enjoy free access to a library of study materials, notes and tutorials.
                            </div>
                            <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                             <ion-button shape="round" expand="block" (click)="signUp()">Get Started</ion-button>
                            <br>

                            <span class="dot "></span>&nbsp;
                            <span class="dot"></span>&nbsp;

                            <span class="dot"></span>&nbsp;
                            <span class="dot active"></span>
                        </ion-card-content>

                    </ion-card>

                </ion-row>

            </div>
        </ion-slide>




    </ion-slides>
</ion-content>