<ion-header>

</ion-header>

<style>
    #back {
        background-size: 100%;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        width: 110vw!important;
        height: 104vh!important;
        background-attachment: fixed!important;
        margin-top: -9%!important;
        background-position: center center!important;
    }
    
    #otherslides {
        background-size: 100%;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        width: 110vw!important;
        height: 104vh!important;
        background-attachment: fixed!important;
        margin-top: -9%!important;
        background-position: center center!important;
    }
</style>

<ion-content padding color="primary">
    <ion-slides #slider pager="false" [options]="slideOpts" (ionSlideDidChange)='ionSlideDidChange()'>
        <ion-slide>
            <div id="back" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'">


                <ion-row>
                    <ion-col>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="title">TALENTCHEK</div>
                        <div class="sub-title">Choose the Right One, Wise One</div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <div class="imageCss"><img src="./assets/img/Illustration.png" alt="Lights" /></div>

                        <br />
                    </ion-col>
                </ion-row>


            </div>


        </ion-slide>
        <ion-slide>


            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'">


                <ion-row>
                    <ion-col>
                        <br /> <br /> <br />
                        <div class="illustrateCss"><img src="./assets/img/Illustration-conn.png" alt="Lights" /></div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-card>
                            <ion-card-content style="padding-top:10px;">
                                <div class="slide2">Easy Connection</div>
                                <!-- <h1>Easy Connection</h1> -->
                                <div class="slide2Paragraph">Share your Resume<br>create chat with employers</div>
                                <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                                <br>
                                <ion-button shape="round" expand="block">Next</ion-button>
                                <br>

                                <span class="dot active"></span>&nbsp;
                                <span class="dot "></span>&nbsp;
                                <span class="dot"></span>&nbsp;
                                <span class="dot"></span>
                            </ion-card-content>

                        </ion-card>
                    </ion-col>
                </ion-row>

            </div>
        </ion-slide>
        <ion-slide>
            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'" style="height:500px">


                <ion-row>
                    <ion-col>
                        <br /> <br /> <br />
                        <div class="illustrateCss"><img src="./assets/img/Illustration-slide2.png" style="height: 170px;" alt="Lights" /></div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-card>
                            <ion-card-content style="padding-top:10px;">
                                <div class="slide2">Get Notifications</div>
                                <!-- <h1>Easy Connection</h1> -->
                                <div class="slide2Paragraph">Get notified with new vacancies from the world's top employers</div>
                                <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                                <br>
                                <ion-button shape="round" expand="block">Next</ion-button>
                                <br>


                                <span class="dot "></span>&nbsp;
                                <span class="dot active"></span>&nbsp;
                                <span class="dot"></span>&nbsp;
                                <span class="dot"></span>
                            </ion-card-content>

                        </ion-card>
                    </ion-col>
                </ion-row>


            </div>
        </ion-slide>

        <ion-slide>
            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'" style="height:500px">


                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <br /> <br /> <br />
                            <div class="illustrateCss"><img src="./assets/img/Illustration-slide3.png" style="height: 170px;" alt="Lights" /></div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-card-content style="padding-top:10px;">
                                    <div class="slide2">Build career ladder</div>
                                    <!-- <h1>Easy Connection</h1> -->
                                    <div class="slide2Paragraph">Step by step. Follow your dream. Rest assured, we will help you
                                    </div>
                                    <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                                    <br>
                                    <ion-button shape="round" expand="block">Next</ion-button>
                                    <br>


                                    <span class="dot "></span>&nbsp;
                                    <span class="dot"></span>&nbsp;
                                    <span class="dot active"></span>&nbsp;
                                    <span class="dot"></span>
                                </ion-card-content>

                            </ion-card>
                        </ion-col>
                    </ion-row>


                </ion-grid>

            </div>
        </ion-slide>

        <ion-slide>
            <div id="otherslides" class="row" [style.background]="'url(../../assets/img/login-slides_bg.png)'" style="height:500px">


                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <br /> <br /> <br />
                            <div class="illustrateCss"><img src="./assets/img/Illustration-slide4.png" style="height: 170px;" alt="Lights" /></div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-card-content style="padding-top:10px;">
                                    <div class="slide2">Build career ladder</div>
                                    <!-- <h1>Easy Connection</h1> -->
                                    <div class="slide2Paragraph">Step by step. Follow your dream. Rest assured, we will help you
                                    </div>
                                    <!-- <h3> Share your Resume <br>create chat with employers</h3> -->
                                    <br>
                                    <ion-button shape="round" expand="block" (click)="signUp()">Next</ion-button>
                                    <br>


                                    <span class="dot "></span>&nbsp;
                                    <span class="dot"></span>&nbsp;

                                    <span class="dot"></span>&nbsp;
                                    <span class="dot active"></span>
                                </ion-card-content>

                            </ion-card>
                        </ion-col>
                    </ion-row>


                </ion-grid>

            </div>
        </ion-slide>




    </ion-slides>
</ion-content>