@font-face {
    font-family: Mr-eaves;
    src: url(../../assets/fonts/mreavesxl/MrEavesXLModOT-Heavy.ttf);
  }
  
  @font-face {
    font-family: alina-sans;
    src: url(../../assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
  }
  ion-content {
      --background: url('../../assets/img/06_Welcome screen.png') no-repeat center center fixed;
      background-size: cover;
      --background: #EDF1FC;
    }
    ion-card-header.ios {
        display: flex;
        flex-flow: column-reverse;
      } 
    .filter-button {
      margin-left: 8px;
    }
    
  .footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 16px;
    background: #112e5b;
    border-radius: 30px;
    padding: 19px;
    position: fixed;
    bottom: 0;
    width: 92%;
    height: 60px;
    box-shadow: 0px -2px 5px rgb(0 0 0 / 10%);
  }
  
  .footer-nav button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #555;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .footer-nav button ion-icon {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .footer-nav button.selected {
    color: aliceblue;
    border-radius: 50%;
  }
  .display-justify{
    display: flex;
    justify-content: center;
    padding: 20px 10px; 
}
.custom-button{
    width: 360px;
    border-radius: 30px;
    height: 200px;
    font-size: 18px;
    background-color: antiquewhite;
    // display: flex;
    padding: 0px 15px;
    // align-items: center;
    // justify-content: center; 
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000026;
    border-radius: 24px;
    opacity: 1;
    margin-left: 4px;
    margin-right: 4px;
    overflow: auto; /* add this line */
}

.line-with-text .hr1 {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
.log-out{
    display: flex;
    padding-top: 127px;
    margin: 0px 111px;
    justify-content: center;    
}
.log-out-button{
    width: 360px;
    --border-radius: 30px;
    height: 56px;
    font-size: 18px;
}
.full-part-time{
    width: 25%; 
    text-align: center;
    background: #FA7070;
    border-radius: 10px;
    margin: 5px;
    color: white;
    font-size: 15px;
    padding: 5px 0px;
}
.experience{
    width: 35%; 
    text-align: center; 
    background: #568FEA;
    border-radius: 10px;
    margin: 5px;
    color: white;
    font-size: 15px;
    padding: 5px 0px;
}
.apply-button{
    background: #568FEA; 
    border-radius: 30px;
    height: 32px;
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button-details{
    width: 360px;
    border-radius: 30px;
    height: 320px;
    font-size: 18px;
    background-color: antiquewhite;
    padding: 0px 15px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000026;
    border-radius: 24px;
    opacity: 1;
    margin-left: 4px;
    margin-right: 4px;
    overflow: auto; /* add this line */
}
.contact-details{
    display: flex;
    align-items: center;
    margin: -10px 0px -10px 0px;
    font-size: 14px;
    columns: #191D1E;
}