<ion-header>
    <ion-toolbar>
        <ion-title style="font-size: 24px; font-weight: 600;   text-align: center;"> Choose all categories that fit you</ion-title>
    </ion-toolbar>
    <p style="text-align: center;">Your experience will be customized based on the categories you choose</p>
</ion-header>

<ion-content>
    <form>
        <div class="display-justify">
            <ion-row class="container">
                <ion-col size="6" *ngFor=" let x of categoryList">
                    <ion-card class="recharge-card">
                        <ion-card-content style="    text-align: center;">

                            <input type="checkbox" id="myCheckbox{{x.id}}" />
                            <label for="myCheckbox{{x.id}}" (click)="getProoduct($event, x)" style="color: black; font-weight: 600;  font-size: 14px;">
                
                {{x.text}}<br>
                
                <img src="assets\icon\{{x.path}}"></label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>

            </ion-row>

        </div>


        <div class="display-justify">
            <ion-button class="custom-button" style="font-family:  Mr-eaves;" (click)="savecategory()">Save</ion-button>
        </div>

    </form>
</ion-content>