<ion-content>


  <ion-row>
    <ion-col>
      <div class="imageCss"><img style="width: 63%; margin-left: -4%;padding: 22px;
            margin-top: -9%;" src=".\assets\img\verifierpopup.png" /></div>
    </ion-col>
  </ion-row>

  <div class="hello-dear">
    <div style="    padding: 13px;font-size: 19px;
      color: #000000;font-family: alina-sans; text-align: center;margin-top: -14%;">Please provide the official email
      address
      and contact number of HR/ reporting manager who has the authority to verify your professional experience.</div>

  </div>




  <ion-card-content>
    <div id="test-l-1" class="content">
      <div class="button-content">
        <ion-label class="labels">Verifier Name <small style="color: #f70505;">*</small></ion-label>
        <ion-item fill="outline" class="input-field">
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="button-content">
      <ion-label class="labels">Verifier Designation <small style="color: #f70505;">*</small></ion-label>
      <ion-item fill="outline" class="input-field">
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
    <div class="button-content">
      <ion-label class="labels">Verifier Email ID<small style="color: #f70505;">*</small></ion-label>
      <ion-item fill="outline" class="input-field">
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
    <div class="button-content">
      <ion-label class="labels">Verifier Mobile Number<small style="color: #f70505;">*</small></ion-label>
      <ion-item fill="outline" class="input-field">
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>


    <div class="display-justify">
      <button class="but1" (click)="goto_signup()">Save & Continue</button>
    </div>
    <div class="display-justify">
      <button class="but2" (click)="goto_signup()">Skip for Now</button>
    </div>

  </ion-card-content>
</ion-content>