<ion-header style="background-color: white;">
    <ion-toolbar style="padding: 20px 10px 15px;">
        <ion-row style="display: flex;justify-content: space-between;">
            <div>
                <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%" (click)="goto_visibility()"></ion-icon>
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 20px;display: flex;
        align-items: center;align-items: center;">
                Profile Visibility
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;">
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="profileVisForm">
        <ion-card class="talentcard1">
            <ion-card-content>

                <ion-list>
                    <ion-radio-group formControlName="profileVisibility" (ionChange)="updateProfileVisibility()" [allowEmptySelection]="false" value="turtles"></ion-radio-group>
                    <ion-list-header>
                        <ion-label class="labels"><b>Choose who can view your profile</b></ion-label>
                    </ion-list-header>

                    <ion-label class="labels"><b>Public</b></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <small>Anyone on Talent Chek can view your profile</small>
                        <ion-radio slot="end" value="public"></ion-radio>
                    </ion-item>

                    <ion-label class="labels"><b>On Demand</b></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <small>Users can request permission to view your profile</small>
                        <ion-radio slot="end" value="ondemand"></ion-radio>
                    </ion-item>

                    <ion-label class="labels"><b>Private</b></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <small>Only visible to you</small>
                        <ion-radio slot="end" value="private"></ion-radio>
                    </ion-item>
                </ion-list>

            </ion-card-content>
        </ion-card>



    </form>

    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
      <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
        <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
        <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
      <ion-icon size="large" name="apps"></ion-icon>
    </button>
        <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
    </button>
    </div>
</ion-content>