<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- BS Stepper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper@1.7.0/dist/css/bs-stepper.min.css">


<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-row>

            <ion-col size="0.5">

            </ion-col>
            <ion-col size="2">
                <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%" (click)="goto_welcome()">
                </ion-icon>
            </ion-col>

            <ion-col size="8">
                <ion-title class="ion-text-wrap"
                    style="font-family: Mr-eaves; color: black; margin-left: 17%; margin-top: 5%;">Sign Up</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div class="container">
        <div id="stepper2" class="bs-stepper">
            <div class="bs-stepper-header">
                <div class="step" data-target="#test-l-1">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Profile Info</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-2">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Address Info</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-3">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Registration Info</span>
                    </button>
                </div>
            </div>
            <br>
            <div class="bs-stepper-content">
                <form [formGroup]="talentinstform" (ngSubmit)="onSubmit()">
                    <div id="test-l-1" class="content">
                        <div class="button-content">
                            <ion-label class="labels">Institution Name <small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input formControlName="instituteName"></ion-input>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.instituteName.hasError('required') && talentinstform.controls.instituteName.touched">
                                <small style="color: #f70505;">Institution Name is required</small>
                              </div>
                              <div *ngIf="talentinstform.controls.instituteName.hasError('pattern')">
                                <small style="color: #f70505;">Special characters are not allowed</small>
                            </div>
                            <div *ngIf="talentinstform.controls.instituteName.hasError('minlength')">
                                <small style="color: #f70505;">Institution name must be atleast 3 characters long</small>
                            </div>
                            <ion-label class="labels">Registration Number <small style="color: #f70505;">*</small>
                            </ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input  formControlName="regNo" onkeyup="this.value = this.value.toUpperCase();"></ion-input>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.regNo.hasError('required') && talentinstform.controls.regNo.touched">
                                <small style="color: #f70505;">Registration Number is required</small>
                              </div>
                            <ion-label class="labels">TAX ID <small style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input formControlName="taxId"></ion-input>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.taxId.hasError('required') && talentinstform.controls.taxId.touched">
                                <small style="color: #f70505;">TAX ID is required</small>
                              </div>

                            <ion-label class="labels">Date of Registration<small style="color: #f70505;">*</small>
                            </ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-datetime displayFormat="DD.MM.YYYY" formControlName="regDate" presentation="date">
                                </ion-datetime>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.regDate.hasError('required') && talentinstform.controls.regDate.touched">
                                <small style="color: #f70505;">Date of Registration is required</small>
                              </div>

                            <ion-label class="labels">Institution (School / College) <small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-select placeholder="Select School / College" formControlName="instType">
                                    <ion-select-option *ngFor="let type of instTypeList" [value]="type.id">{{type.text}}
                                    </ion-select-option>

                                </ion-select>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.instType.hasError('required') && talentinstform.controls.instType.touched">
                                <small style="color: #f70505;">Institution (School / College) is required</small>
                              </div>
                            <br>

                            <ion-label class="labels">Upload Image<small style="color: #f70505;">*</small></ion-label>
                            <ion-row>
                                <ion-col size="6">
                                    <ion-thumbnail *ngIf="base64img1">
                                        <img class="horizontal" [src]="base64img1" name="image" />
                                    </ion-thumbnail>
                                    <ion-thumbnail *ngIf="!base64img1">
                                        <img class="horizontal" src="./assets/img/avatar1.png" alt="Lights"
                                            style="width:100%" />
                                    </ion-thumbnail>
                                </ion-col>

                                <ion-col size="6">
                                    <div class="ion-float-rigth">
                                        <ion-button fill="clear" (click)="opengallery()">
                                            <ion-icon name="image-outline"></ion-icon>
                                        </ion-button>
                                        <ion-button fill="clear" (click)="opencamera()">
                                            <ion-icon name="camera-outline"></ion-icon>
                                        </ion-button>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <div *ngIf=" talentinstform.controls.regDate.hasError('required') && talentinstform.controls.regDate.touched">
                                <small style="color: #f70505;">Upload Image is required</small>
                              </div>
                        </div>
                        <div class="display-justify">
                            <ion-button class="custom-button" style="font-family:  Mr-eaves;" (click)="next()">Next
                            </ion-button>
                        </div>

                        <div class="line-with-text">
                            <hr class="hr1">

                            <hr class="hr2">
                        </div>

                        <div class="sign-in">
                            <div style="font-size: 16px;">Already a Talentchek member? </div><span
                                style="font-size: 18px;"><b> <a (click)="goto_signin()"> Sign in</a></b></span>
                        </div>
                    </div>
                    <div id="test-l-2" class="content">
                        <div class="button-content">
                            <ion-label class="labels">Address</ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-textarea formControlName="address" placeholder="Enter Your Address"></ion-textarea>
                            </ion-item>


                            <ion-label class="labels">Country <small style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <div class="selected-skills-container">
                                    <div class="selected-skill">{{ selectedCountry }} 
                                    </div>
                                </div>
                                <ion-icon *ngIf="selectedCountry != undefined && selectedCountry != ''" 
                                        name="close-circle" (click)="removeCountry()"></ion-icon>
                                <ion-input  (ionInput)="onCountrySearch($event.target.value)" [formControl]="countrysearchCtrl"></ion-input>
                            </ion-item>
                
                            <ion-list *ngIf="showcountyResults">
                                <ion-item *ngFor="let result of searchResults" (click)="selectcountry(result.text,result.id)">
                                    {{ result.text }}
                                </ion-item>
                            </ion-list>
                              
                              <div *ngIf=" talentinstform.controls.country.hasError('required') && talentinstform.controls.country.touched">
                                <small style="color: #f70505;">Country is required</small>
                              </div>
                            <ion-label class="labels">State/Province <small style="color: #f70505;">*</small>
                            </ion-label>
                            <ion-item fill="outline" class="input-field">

                                <ion-select placeholder="Select State" formControlName="state"(ionChange)="goTostateSelectedItem($event.target.value)">
                                    <ion-select-option *ngFor="let sElement of stateResponse" [value]="sElement.id">
                                        {{sElement.text}}</ion-select-option>

                                </ion-select>
                                </ion-item>

                                <div *ngIf=" talentinstform.controls.state.hasError('required') && talentinstform.controls.state.touched">
                                    <small style="color: #f70505;">State/Province  is required</small>
                                  </div>
                            <ion-label class="labels">City <small style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-select placeholder="Select City" formControlName="city">
                                    
                                    <ion-select-option *ngFor="let ciElement of cityOptions" [value]="ciElement.id">
                                        {{ciElement.text}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.city.hasError('required') && talentinstform.controls.city.touched">
                                <small style="color: #f70505;">City is required</small>
                              </div>
                            <ion-label class="labels">PIN / ZIP <small style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input formControlName="pincode"></ion-input>
                            </ion-item>

                            <div *ngIf=" talentinstform.controls.pincode.hasError('required') && talentinstform.controls.pincode.touched">
                                <small style="color: #f70505;">PIN is required</small>
                              </div>
                        </div>
                        <div class="display-justify">
                            <ion-button class="custom-button" style="font-family:  Mr-eaves;" (click)="next()">Next
                            </ion-button>
                        </div>

                        <div class="line-with-text">
                            <hr class="hr1">
                            <hr class="hr2">
                        </div>

                        <div class="sign-in">
                            <div style="font-size: 16px;">Already a Talentchek member? </div><span
                                style="font-size: 18px;"><b> <a (click)="goto_signin()"> Sign in</a></b></span>
                        </div>
                    </div>
                    <div id="test-l-3" class="content text-center">
                        <div class="button-content">


                            <ion-label class="labels">Contact number <small style="color: #f70505;">*</small>
                            </ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="number" (keypress)="limitInputLength($event)" formControlName="mobileNo"></ion-input>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.mobileNo.hasError('required') && talentinstform.controls.mobileNo.touched">
                                <small style="color: #f70505;">Contact number is required</small>
                              </div>

                            <ion-label class="labels">Institution's email <small style="color: #f70505;">*</small>
                            </ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input formControlName="emailId"></ion-input>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.emailId.hasError('required') && talentinstform.controls.emailId.touched">
                                <small style="color: #f70505;">Institution's email is required</small>
                              </div>
                            <ion-label class="labels">Password <small style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <!-- <ion-input formControlName="pwd"></ion-input> -->
                                <ion-input type="{{passwordType}}" clearOnEdit="false" formControlName="pwd"></ion-input>
                                <ion-icon name="{{passwordIcon}}" slot="end" (click)="passwordToggle()"></ion-icon>
                            </ion-item>
                            <div *ngIf=" talentinstform.controls.pwd.hasError('required') && talentinstform.controls.pwd.touched">
                                <small style="color: #f70505;">Password is required</small>
                              </div>
                            <ion-label class="labels">Referral code (if any)</ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input formControlName="referralCode"></ion-input>
                            </ion-item>

                            <ion-item lines="none">
                                <ion-checkbox formControlName="cBoxIAgree" [(ngModel)]="cBoxIAgreeVal"></ion-checkbox>
                                <ion-label>&emsp;I accept the <a (click)="openTCForm()" style="color: rgb(119, 191, 194);">  Terms and conditions</a><span style="color:red">*</span></ion-label>
                            </ion-item><br>

                            <ion-item lines="none">
                                <ion-checkbox formControlName="cBoxIAgreeConsent" [(ngModel)]="cBoxIAgreeConsentVal"></ion-checkbox>
                                <ion-label>&emsp;I accept the <a (click)="openConsentForm()" style="color: rgb(119, 191, 194);">Consent form</a><span style="color:red">*</span></ion-label>
                            </ion-item>


                        </div>
                        <div class="display-justify">
                            <ion-button class="custom-button" [disabled]="!talentinstform.valid || cBoxIAgreeVal==false || cBoxIAgreeConsentVal ==false " style="font-family:  Mr-eaves;" (click)="onSubmit()">
                                Register</ion-button>
                        </div>


                        <div class="line-with-text">
                            <hr class="hr1">
                            <hr class="hr2">
                        </div>

                        <div class="sign-in">
                            <div style="font-size: 16px;">Already a Talentchek member? </div><span
                                style="font-size: 18px;"><b> <a (click)="goto_signin()"> Sign in</a></b></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>