
 
      <ion-row style="padding-top:20px">
        <ion-col size="10">
            <ion-title style="color:black;margin-left: -5%;">Add New Skill</ion-title>
        </ion-col>
        <ion-col size="2">
         
              <ion-icon  (click)="dismiss()" name="close"></ion-icon>
            
        </ion-col>
    </ion-row>
    
<ion-content>
  <form [formGroup]="skillForm">
    <ion-card-content>
    <ion-row class="talentrow">
        <ion-col>
            <div class="button-content">
               
              <ion-label class="labels">Skills<small style="color: #f70505;">*</small></ion-label>
              <ion-item fill="outline" class="input-field">
                  <div class="selected-skills-container">
                      <ion-chip *ngFor="let skill of selectedSkills" class="selected-skill">{{ skill }}
                          <ion-icon name="close-circle" (click)="removeSkill(skill)"></ion-icon>
                      </ion-chip>
                    </div> 
                  <ion-input  warp="soft" (ionInput)="onSearchSkill($event.target.value)" [formControl]="searchCtrl"></ion-input>
              </ion-item>
  
              <ion-list *ngIf="showSkillResults">
                  <ion-item *ngFor="let result of searchSkillResults" (click)="selectSkill(result.text,result.id)">
                      {{ result.text }}
                  </ion-item>
              </ion-list>
                </div>
        </ion-col>
    </ion-row>

    <ion-row class="talentrow">
        <ion-col>
            <ion-range min="0" max="100"  formControlName="expertise" [(ngModel)]="sliderValue" (ionChange)="onSliderChange($event.target.value)">
                <ion-label  slot="start">Beginner</ion-label>
                <ion-label  slot="end">Expert</ion-label>
              </ion-range>
              
        </ion-col>
    </ion-row>
    <ion-row>
      <div class="button-content" style="margin: auto;">
                                      <ion-button color="primary" (click)="saveSkill()" fill="outline" >Add</ion-button>
                                      </div>
    </ion-row>
    
</ion-card-content>
</form>
</ion-content>
