<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-row>

      <ion-col size="0.5">

      </ion-col>
      <!-- <ion-col size="2" *ngIf="RoleID('1')">
        <ion-icon size="large" name="arrow-back-circle-outline"  (click)="newProfileView()" style="margin-top:21%"></ion-icon>
      </ion-col> -->
      <ion-col size="2" *ngIf="RoleID.includes('2')">
        <ion-icon size="large" name="arrow-back-circle-outline" (click)="newOrgprofileView()"
          style="margin-top:21%"></ion-icon>
      </ion-col>
      <ion-col size="2" *ngIf="RoleID.includes('3')">
        <ion-icon size="large" name="arrow-back-circle-outline" (click)="newInstiprofileView()"
          style="margin-top:21%"></ion-icon>
      </ion-col>

      <ion-col size="7">
        <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">Payment
          Info</ion-title>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="docForm">

    <ion-card-content>


      <ion-row class="talentrow">
        <ion-col>
          <div class="button-content">
            <ion-label class="labels">Account Holder Name<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="accountHolderName" (keypress)="keyPressAlphaNumeric($event)"></ion-input>
            </ion-item>
            <div
              *ngIf="docForm.controls.accountHolderName.hasError('required') && docForm.controls.accountHolderName.touched">
              <small style="color: #f70505;">Account Holder Name is required</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">Bank A/C NO<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="bankAccountNo"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.bankAccountNo.hasError('required') && docForm.controls.bankAccountNo.touched">
              <small style="color: #f70505;">Bank A/C NO is required</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">Account Holder Email Id<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="holderEmailId"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.holderEmailId.hasError('required') && docForm.controls.holderEmailId.touched">
              <small style="color: #f70505;">Account Holder Email Id is required</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">IFSC Code<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="ifscCode"onkeyup="this.value = this.value.toUpperCase();"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.ifscCode.hasError('required') && docForm.controls.ifscCode.touched">
              <small style="color: #f70505;">IFSC Code is required</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">Account Type<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-select placeholder="Select Account Type" formControlName="accType">
                <ion-select-option value="Saving">Saving</ion-select-option>
                <ion-select-option value="Current">Current</ion-select-option>
                </ion-select>
              
            </ion-item>
            <div *ngIf="docForm.controls.accType.hasError('required') && docForm.controls.accType.touched">
              <small style="color: #f70505;">Account Type is required</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">Business Name<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="businessName"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.businessName.hasError('required') && docForm.controls.businessName.touched">
              <small style="color: #f70505;">Business Name is required</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">Business Type<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">

              <ion-select interface="popover" formControlName="businessType" placeholder="Business Type"
                style="background:white">
                <ion-select-option value="llp">Limited Liability Partnership</ion-select-option>
                <ion-select-option value="ngo">Non-governmental organization</ion-select-option>
                <ion-select-option value="individual">Individual</ion-select-option>
                <ion-select-option value="partnership">Partnership</ion-select-option>
                <ion-select-option value="proprietorship">Proprietorship</ion-select-option>
                <ion-select-option value="public_limited">Public Limited</ion-select-option>
                <ion-select-option value="private_limited">Private Limited</ion-select-option>
                <ion-select-option value="not_yet_registered">Not Yet Registered</ion-select-option>
                <ion-select-option value="educational_institutes">Educational Institutes</ion-select-option>
                <ion-select-option value="trust,society">Trust,Society</ion-select-option>

              </ion-select>
            </ion-item>
            <div *ngIf="docForm.controls.businessType.hasError('required') && docForm.controls.businessType.touched">
              <small style="color: #f70505;">Business Type is required</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">Amount<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="amount"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.amount.hasError('required') && docForm.controls.amount.touched">
              <small style="color: #f70505;">Amount is required</small>
            </div>
          </div>
          <div class="button-content">
            <ion-label class="labels">Currency<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-select interface="popover" formControlName="currency" placeholder="Currency"
                style="background:white">
                <ion-select-option value="INR">INR</ion-select-option>
                <ion-select-option value="USD">USD</ion-select-option>
                <ion-select-option value="AED">AED</ion-select-option>
                <ion-select-option value="MYR">MYR</ion-select-option>
                <ion-select-option value="SGD">SGD</ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="docForm.controls.currency.hasError('required') && docForm.controls.currency.touched">
              <small style="color: #f70505;">Currency is required</small>
            </div>
          </div>
          <div *ngIf="!edit" class="button-content" style="width: 50%;margin: auto;">
            <div class="display-justify">
               <ion-button class="custom-button" (click)="Update()">Save</ion-button>
            </div>
           </div>
           <div *ngIf="edit" class="button-content" style="width: 50%;margin: auto;">
            <div class="display-justify" *ngIf="RoleID.includes('2')">
               <ion-button class="custom-button" (click)="Update()">Update</ion-button>
            </div>
            <div class="display-justify" *ngIf="RoleID.includes('3')">
              <ion-button class="custom-button" (click)="instiUpdate()">Update</ion-button>
           </div>
           </div> 
        </ion-col>
      </ion-row>
    </ion-card-content>
  </form>
</ion-content>