* {
    --dark: var(--bottomcolor);
    --red: var(--headercolor);
}


/* @font-face {
    font-family: ubuntu;
    color: #03A9F3;
    src: url(../../../assets/fonts/ubuntu-Medium/Ubuntu-M.ttf);
} */

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    color: #03A9F3;
    src: url(../../assets/fonts/ubuntu-Medium/Inter-Medium.ttf);
}

.flex-square {
    width: 40%;
    height: 100px;
    /* background: #ca0164; */
    overflow: hidden;
    position: relative;
}

.h1 {
    background-color: red!important;
}

#bio p {
    color: #E6EBEE;
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.label {
    margin: 0;
}

#msg {
    background-color: #E6EBEE;
    color: #393B45;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 129, 129);
    font-family: ubuntu;
    text-decoration: none;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;
    padding-left: 35px;
    /* padding-bottom: 20px; */
}

.social-icons a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.social-icons i {
    margin-right: 5px;
    border-radius: 8px;
    padding: 8px;
    /* width: 10px; */
    /* height: 10px; */
    margin-right: 10px;
    background: white;
    width: 30px;
    height: 30px;
    text-align: center;
    color: black;
}

.black-bg {
    background-color: #393B45;
    /* Set the background color to black */
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.tick {
    color: white;
    /* Customize the tick color */
}

.frame-square {
    /* background: #fff; */
    /* border: 1px solid #000; */
    display: inline-block;
    vertical-align: top;
    /* padding: 10px; */
    width: 130px;
    height: 130px;
    margin-right: .5em;
    margin-bottom: .3em;
    margin-left: 105px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* .crop {border-radius: 50%;} */

.crop {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.radio-input {
    /* background-color: #fff;
	padding: 20px;
	border-radius: 20px; */
    display: flex;
}

.radio-input input[type=radio] {
    display: none;
}

.radio-input input[type=radio]+label {
    color: #333;
    font-family: ubuntu;
    font-size: 14px;
}

.radio-input input[type=radio]+label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 30px;
}

.radio-input input[type=radio]+label span svg {
    opacity: 0;
    transition: all 0.3s ease;
}

.radio-input input[type=radio]#color-1+label span {
    background-color: #6777ef;
}

.radio-input input[type=radio]#color-2+label span {
    background-color: #FFA117;
}

.radio-input input[type=radio]#color-3+label span {
    background-color: #3DC7BE;
}

.radio-input input[type=radio]:checked+label span svg {
    opacity: 1;
}

.radio-input input[type=radio]#color-4+label span {
    background-color: #4CAF4F;
}

.radio-input input[type=radio]#color-5+label span {
    background-color: #03A9F3;
}

.radio-input input[type=radio]#color-6+label span {
    background-color: #EFDF67;
}

.radio-input input[type=radio]#color-7+label span {
    background-color: #123B39;
}

.radio-input input[type=radio]#color-8+label span {
    background-color: #C73D46;
}

.radio-input input[type=radio]#color-9+label span {
    background-color: #4E4CAF;
}

.radio-input input[type=radio]#color-11+label span {
    background-color: black;
}

.radio-input input[type=radio]#color-10+label span {
    background-color: #9EDDF8;
}

.radio-input input[type=radio]#color-12+label span {
    background-color: #2F5597;
}

.radio-input input[type=radio]#color-13+label span {
    background-color: black;
}

.radio-input input[type=radio]#color-14+label span {
    background-color: #FFFFFF;
}

div.b {
    word-wrap: break-word;
}


/* addons  */

label {
    /* background-color: white; */
    display: flex;
    align-items: center;
    /* gap: 14px;
	padding: 10px 15px 10px 10px; */
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    color: black;
}


/* input:checked + label svg {
	fill: hsl(0deg 100% 50%);
	stroke: hsl(0deg 100% 50%);
	animation: heartButton 1s;
   } */

@keyframes heartButton {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

input+label .action {
    position: relative;
    overflow: hidden;
    display: grid;
}

input+label .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
}

input+label .linkedin {
    position: relative;
    overflow: hidden;
    display: grid;
}

input+label .linkedin span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
}

input+label .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
}

input:checked+label .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
}

input+label .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
}

input:checked+label .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
}

input+label .linkedin span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
}

input:checked+label .linkedin span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
}

input+label .linkedin span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
}

input:checked+label .linkedin span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
}

.credit {
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(248, 92, 113);
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
}

.credit a {
    text-decoration: none;
    color: #eee;
    padding: 10px;
}

.credit:after {
    box-sizing: border-box;
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #eee;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.credit:hover::after {
    right: -3px;
}

.test {
    background-color: #1769ff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s ease-in-out;
    z-index: -1;
}

.credit:hover .test {
    left: 0;
}

.business2 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: #fafafa;
}

.business2 .front {
    background-color: var(--dark);
    width: 350px;
    height: 726px;
    margin: 0px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 16px;
    /* border: solid; */
}

.business2 svg {
    width: 35px;
}

.business2 h1,
.business2 h2,
.business2 p {
    margin: 0;
    color: #eee;
    margin: 0px;
    color: var(--fontcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ubuntu;
}

.business2 .red {
    height: 35%;
    background-color: var(--red);
}

.business2 .head {
    display: flex;
    justify-content: center;
    padding: 28px 0;
}

.business2 .head1 {
    display: flex;
    justify-content: center;
    /* padding: 28px 0; */
}

.business2 .head img {
    width: 40px;
}

.business2 .head>div {
    text-align: center;
    margin: 0 10px;
    text-transform: uppercase;
}

.business2 .head>div p {
    font-size: 0.8rem;
    font-weight: 600;
}

.business2 .avatar {
    position: absolute;
    width: 31%;
    left: 50%;
    top: 136px;
    transform: translate(-50%);
    text-align: center;
}

.business2 .img {
    border: 5px solid var(--bottomcolor);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.business2 .img img {
    width: 100%;
    /* padding: 10px 0; */
    border-radius: 0px !important;
}

.business2 .avatar p:nth-of-type(1) {
    text-transform: uppercase;
    font-weight: 900;
}

.business2 .infos {
    /* position: inherit;
    bottom: -2%;
    left: 5%; */
}

.business2 .infos>div {
    display: flex;
    margin: 5px;
}

.business2 .infos>div svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: var(--red);
    padding: 8px;
    border-radius: 7px;
}

.business2 .infos>div p {
    font-size: 1.0rem;
    margin: 5px 3px;
    font-weight: 500;
}

.card-bottom-part {
    width: 100%;
    height: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgb(231, 227, 227);
    /* border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit; */
}

.bottom-part {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bottom-part:hover>.link {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    /* gap: 5.5px; */
    font-weight: bold;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.bottom-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bottom-part:first-child {
    border-right: 8px solid rgb(255, 254, 254);
}

.bottom-part:nth-child(2) {
    border-right: 8px solid rgb(255, 254, 254);
}

.card-social {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    gap: 18.5px;
}

.card-social-icon,
.card-social1-icon,
.card-social2-icon {
    list-style-type: none;
    padding-left: 0;
}

.card-social-icon {
    list-style: none;
    color: #515F65;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-social1-icon svg {
    display: block;
    height: 18px;
    width: 18px;
    /* fill: #515F65; */
    cursor: pointer;
    border-radius: 2px;
}

.card-social2-icon svg {
    display: block;
    height: 19px;
    width: 19px;
    /* fill: #515F65; */
    cursor: pointer;
    border-radius: 2px;
}

.card-social-icon svg {
    display: block;
    height: 20px;
    width: 20px;
    fill: #515F65;
    cursor: pointer;
    border-radius: 3px;
}

.qrpath {
    text-align: center;
}

.qrimage {
    width: 10%;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .qrimage {
        width: 40%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .qrimage {
        width: 40%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .qrimage {
        width: 25%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .qrimage {
        width: 10%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .qrimage {
        width: 10%;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .business2 .red {
        height: 32%;
        background-color: var(--red);
    }
    .business2 .front {
        background-color: var(--dark);
        width: 500px;
        height: 845px;
        padding: 16px;
        overflow: hidden;
        position: relative;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .business2 .red {
        height: 35%;
        background-color: var(--red);
    }
    .business2 .front {
        background-color: var(--dark);
        width: 350px;
        height: 726px;
        margin: 0px;
        border-radius: 0px;
        padding: 16px;
        overflow: hidden;
        position: relative;
        /* border: solid; */
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .business2 .red {
        height: 35%;
        background-color: var(--red);
    }
    .business2 .front {
        background-color: var(--dark);
        width: 421px;
        height: 900px;
        margin: 0px;
        border-radius: 0px;
        padding: 20px;
        overflow: hidden;
        position: relative;
        /* border: solid; */
    }
}

.user-img {
    padding: 2px;
    border-radius: 50% 50% 50% 50%;
    max-width: 112px;
    margin-top: 8px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.sticky-cta {
    position: fixed;
    bottom: 60px;
    /* Adjust this value to control the vertical position */
    right: 40px;
    /* Adjust this value to control the horizontal position */
    background-color: #FF8E21;
    color: #fff;
    z-index: 999;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* body {
    background: #fffff;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
} */

.container {
    margin-top: 10%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#toggle {
    -webkit-appearance: none;
}

.button {
    position: absolute;
    z-index: 999;
    width: 43px;
    height: 43px;
    background: #ff8e21;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;
    &:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
        transform: rotate(90deg);
        transition: all 0.4s ease;
    }
    &:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
        transition: all 0.4s ease;
    }
}

.nav1 {
    opacity: 0;
    background: #FCE4BD;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
    border: 1px solid #e4e4e4;
    padding: 10px;
    position: fixed;
    bottom: -20px;
    /* Adjust this value to control the vertical position */
    right: 7px;
    /* Adjust this value to control the horizontal position */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    a {
        text-align: center;
        margin: 20px 0;
        color: #ff8e21;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
    }
}

#toggle:checked~.nav1 {
    opacity: 1;
    transform: translateY(-181%) translateX(-63%);
}

.nav {
    opacity: 0;
    background: #FCE4BD;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
    border: 1px solid #e4e4e4;
    padding: 10px;
    position: fixed;
    bottom: -20px;
    /* Adjust this value to control the vertical position */
    right: 7px;
    /* Adjust this value to control the horizontal position */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    a {
        text-align: center;
        margin: 20px 0;
        color: #ff8e21;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
    }
}

#toggle:checked~.nav {
    opacity: 1;
    transform: translateY(-90%) translateX(-44%);
}

#toggle:checked~.button:before {
    transform: rotate(225deg);
}

#toggle:checked~.button:after {
    transform: rotate(135deg);
}

@media (max-width: 640px) {
    .container {
        width: 100%;
    }
}

.td {
    text-align: center;
    width: 78px;
}