<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;
      font-family: 'Mr-eaves';
      font-size: 28px;">Vcard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="card">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="business2">

                            <div class="front" [style.background]="headercolor">
                                <div class="red" [style.background]="headercolor">

                                    <div class="head1">
                                        <div [show]="vcardList?.logo1path=='nologo' || vcardList?.logo1path=='' || vcardList?.logo1path== 'null' || vcardList?.logo1path== 'imageView/emptycase.png'">

                                            <div [show]="vcardList?.showLogo1">


                                                <img style="width: auto; height: 124px;" src="{{logo1path}}" alt="">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="head1">


                                        <div>

                                            <img style="width: auto; height: 120px; border-radius: 75px;" src="{{this.filePath}}{{vcardList?.profileimg}}" alt="">
                                        </div>
                                    </div>



                                </div>


                                <div class="card-bottom-part" [style.background]="fontcolor" [style.border-color]="headercolor">
                                    <div class="bottom-part" [style.border-color]="headercolor">
                                        <a href="mailto: {{vcardList?.emailid}}" class="link" [style.color]="headercolor" style="font-family: 'Inter'">
                                            <span class="bottom-icon">
                                              <svg viewBox="0 0 20 20" height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="20" id="_20">
                                                <path transform="translate(1.25 3.75)" d="M16.25,12.5h-15A1.252,1.252,0,0,1,0,11.25v-10A1.252,1.252,0,0,1,1.25,0h15A1.251,1.251,0,0,1,17.5,1.25v10A1.251,1.251,0,0,1,16.25,12.5ZM1.25,1.819V11.25h15V1.819L9.106,6.763a.626.626,0,0,1-.713,0ZM2.625,1.25,8.75,5.487,14.875,1.25Z"style="fill: {{ headercolor }};"></path>
                                              </svg>
                                            </span> Email
                                        </a>
                                    </div>
                                    <div class="bottom-part" [style.border-color]="headercolor">
                                        <a href="tel: {{vcardList?.mobileno}}" class="link" [style.color]="headercolor" style="font-family: 'Inter'">
                                            <span class="bottom-icon">
                                              <svg viewBox="0 0 20 20" height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="20" id="_20">
                                                <path transform="translate(1.869 1.875)" d="M14.381,16.25h-.106C2,15.544.249,5.179.006,2.019A1.874,1.874,0,0,1,1.731,0H5.175A1.243,1.243,0,0,1,6.337.787l.95,2.337a1.247,1.247,0,0,1-.275,1.35L5.681,5.818a5.875,5.875,0,0,0,4.738,4.75l1.356-1.344a1.25,1.25,0,0,1,1.356-.257l2.356.944a1.245,1.245,0,0,1,.769,1.163v3.3A1.877,1.877,0,0,1,14.381,16.25Zm-12.5-15a.625.625,0,0,0-.625.625v.05C1.545,5.648,3.4,14.375,14.343,15h.038a.625.625,0,0,0,.625-.589V11.075l-2.356-.944-1.794,1.781-.3-.038A6.733,6.733,0,0,1,5.429,8.553,8.171,8.171,0,0,1,4.381,5.7l-.038-.3L6.118,3.606,5.181,1.25Z"style="fill: {{ headercolor }};"></path>
                                              </svg>
                                            </span> Phone
                                        </a>
                                    </div>



                                    <div class="bottom-part" [show]="vcardList?.uploadBrochure != null && vcardList?.uploadBrochure !=''&& vcardList?.uploadBrochure != undefined">
                                        <a href="{{this.filePath}}{{this.uploadBrochure}}" target="_blank" download="{{this.filePath}}root/PRJ/export/{{this.uploadBrochure}}" class="link" [style.color]="headercolor" style="font-family: 'Inter'">
                                            <span class="bottom-icon">
                                                <svg width="25" height="24" viewBox="0 0 25 24"  xmlns="http://www.w3.org/2000/svg" data-name="25" id="_24">
                                                    <path  d="M18 19.5V13.5H17V19.5H18Z"style="fill: {{ headercolor }};" ></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1465 19.8536C17.3417 20.0488 17.6583 20.0488 17.8536 19.8536L20.3536 17.3536L19.6465 16.6464L17.5 18.7929L15.3536 16.6464L14.6465 17.3536L17.1465 19.8536Z"style="fill: {{ headercolor }};"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 2.5C4.17157 2.5 3.5 3.17157 3.5 4V20C3.5 20.8284 4.17157 21.5 5 21.5H10.5V22.5H5C3.61929 22.5 2.5 21.3807 2.5 20V4C2.5 2.61929 3.61929 1.5 5 1.5H10.722C11.3475 1.5 11.9503 1.73446 12.4113 2.15711L17.1893 6.53692C17.7059 7.01044 18 7.67904 18 8.3798V8.5H17V8.3798C17 7.95934 16.8235 7.55819 16.5136 7.27407L11.7356 2.89427C11.459 2.64068 11.0973 2.5 10.722 2.5H5Z"style="fill: {{ headercolor }};"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11 5.5V2.5H12V5.5C12 6.32843 12.6716 7 13.5 7H17V8H13.5C12.1193 8 11 6.88071 11 5.5Z"style="fill: {{ headercolor }};"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 11.5C14.7386 11.5 12.5 13.7386 12.5 16.5C12.5 19.2614 14.7386 21.5 17.5 21.5C20.2614 21.5 22.5 19.2614 22.5 16.5C22.5 13.7386 20.2614 11.5 17.5 11.5ZM11.5 16.5C11.5 13.1863 14.1863 10.5 17.5 10.5C20.8137 10.5 23.5 13.1863 23.5 16.5C23.5 19.8137 20.8137 22.5 17.5 22.5C14.1863 22.5 11.5 19.8137 11.5 16.5Z"style="fill: {{ headercolor }};"/>
                                                    </svg>
                                            </span> {{vcardList?.convertedbase64path}}
                                        </a>
                                    </div>


                                </div>

                                <br>

                                <p style="font-weight: bold;font-size: 24px; line-height: 32px;font-family: 'Inter';text-align: center;">{{vcardList?.firstname}}</p>
                                <p style="font-size: 16px;line-height: 24px;font-family: 'Inter';text-align: center;">{{vcardList?.designation}}</p>


                                <div style="margin-top: 8px;padding: 8px;">
                                    <table>
                                        <tr style="font-family: 'Inter'; " [hidden]="vcardList?.showtalentId">
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px; width: 78px;font-weight: bold;font-size: 1rem;">Talent Id</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px; width: 14px;">:</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: 500;">{{vcardList?.currentUserId}}</td>
                                        </tr>

                                        <tr style="font-family: 'Inter'; ">
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px; width: 78px;font-weight: bold;font-size: 1rem;">Phone</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px; width: 14px;">:</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: 500;">{{vcardList?.mobileno}}
                                                <span [hidden]="this.vcardList?.alternateNo == '' ||this.vcardList?.alternateNo == null" [style.color]="fontcolor">/</span>

                                                <p style="font-family: 'Inter';display: inline;">
                                                    <a href="tel: {{vcardList?.alternateNo}}"></a>{{vcardList?.alternateNo}}</p>
                                            </td>
                                        </tr>

                                        <tr style="font-family: 'Inter'; ">
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: bold;font-size: 1rem;">Email</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;">:</td>
                                            <td style="padding-bottom: 16px;font-weight: 500;"> <a href="mailto: {{vcardList?.emailid}}" style="color: var(--fontcolor); font-family: 'Inter' "> {{vcardList?.emailid}}</a></td>
                                        </tr>

                                        <tr id="myTableRow" style="font-family: 'Inter';">

                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: bold;font-size: 1rem;">Address</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;">:</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: 500;"> {{vcardList?.address}}</td>

                                        </tr>


                                        <tr id="myTableRow" style="font-family: 'Inter'; ">

                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: bold;font-size: 1rem;">Company</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;">:</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: 500;">{{vcardList?.company}}</td>
                                        </tr>


                                        <tr id="myTableRow" style="font-family: 'Inter'; " [hidden]="vcardList?.websiteLink === 'https://Link to Website goes here' ||vcardList?.websiteLink === '' ||vcardList?.websiteLink === 'null'||vcardList?.websiteLink === null || vcardList?.websiteLink === 'https://' "
                                            [hidden]="vcardList?.showWebsite">

                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;font-weight: bold;font-size: 1rem;">Website</td>
                                            <td [style.color]="fontcolor" style="padding-bottom: 16px;">:</td>
                                            <td style="padding-bottom: 16px;font-weight: 500;"><a href="{{vcardList?.websiteLink}}" style="color: var(--fontcolor);font-family: 'Inter'">{{vcardList?.websiteLink}}</a></td>
                                        </tr>

                                    </table>
                                </div>

                                <div class="card-social">
                                    <li id="cs3" class="card-social2-icon" [hidden]="vcardList?.showSocials3">
                                        <a href="https://wa.me/{{vcardList?.mobileno}}">
                                            <svg [style.background]="fontcolor" xmlns="http://www.w3.org/2000/svg" viewBox="-20 30 310 180"><rect width="256" height="256" fill="none"/>
                                        <path d="M128,24A104,104,0,0,0,36.8,178l-8.5,30A15.9,15.9,0,0,0,48,227.7l30-8.5A104,104,0,1,0,128,24Zm24.1,168H152a88.1,88.1,0,0,1-88-88.1A36,36,0,0,1,100,68a14.9,14.9,0,0,1,12.9,7.5L124.6,96a15.8,15.8,0,0,1-.2,16.1L117.3,124A41.4,41.4,0,0,0,132,138.7l11.9-7.1a15.8,15.8,0,0,1,16.1-.2l20.5,11.7A14.9,14.9,0,0,1,188,156,36,36,0,0,1,152.1,192Z"style="fill: {{ headercolor }};"/>
                                        <path d="M136.5,154.7a8.1,8.1,0,0,1-7.4.4,55.4,55.4,0,0,1-28.2-28.2,8.1,8.1,0,0,1,.4-7.4l9.4-15.6L99.4,84A19.9,19.9,0,0,0,80,103.9,72,72,0,0,0,152,176h.1A19.9,19.9,0,0,0,172,156.6l-19.9-11.3Z"style="fill: {{ headercolor }};"/>
                                    </svg>
                                        </a>
                                    </li>
                                    <li id="cs1" class="card-social-icon" [hidden]="vcardList?.showSocials1" [hidden]="this.vcardList?.socials1Link=='' || this.vcardList?.socials1Link== null || this.vcardList?.socials1Link== 'Link to Linkedin page goes here'">
                                        <a href="{{vcardList?.socials1Link}}">

                                            <svg [style.background]="headercolor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                <path  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"style="fill: {{ fontcolor }};"></path>
                                            </svg>

                                        </a>
                                    </li>
                                    <li id="cs2" class="card-social1-icon" [hidden]="vcardList?.showSocials2" [hidden]="this.vcardList?.socials2Link=='' || this.vcardList?.socials2Link== null || this.vcardList?.socials2Link== 'Link to Twitter page goes here'">
                                        <a href="{{vcardList?.socials2Link}}">


                                            <svg [style.background]="fontcolor" viewBox="-100 -100 700 700" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"style="fill: {{ headercolor }};"></path>
                                         </svg>
                                        </a>
                                    </li>

                                </div>





                                <div class="head" [hidden]="vcardList?.logo2path=='nologo' || vcardList?.logo2path=='' || vcardList?.logo2path== 'null' ">


                                    <div [hidden]="vcardList?.showLogo2">

                                        <img style="width: 56px; height: 56px;" src="{{logo2path}}" alt="">

                                    </div>
                                </div>


                                <div [hidden]="vcardList?.logo2path =='nologo' || vcardList?.logo2path =='' || vcardList?.logo2path == 'null' ">


                                    <a class="card-link" href="https://portal.talentchek.com">
                                        <h5 class="card-title" [style.color]="fontcolor" style="padding: 28px;text-align: center; color: white; font-size: 12px;font-family: 'Inter'"><u>Verified by TalentChek </u></h5>

                                    </a>
                                </div>

                                <div [hidden]="vcardList?.logo2path=='nologo' || vcardList?.logo2path=='' || vcardList?.logo2path== 'null' ">

                                    <a class="card-link" href="https://portal.talentchek.com">
                                        <h5 class="card-title" [style.color]="fontcolor" style="text-align: center; color: white; font-size: 12px;font-family: 'Inter'"><u>Verified by TalentChek </u></h5>

                                    </a>
                                </div>



                                <!-- <div class="container">
                                    <input type="checkbox" id="toggle" />
                                    <label class="sticky-cta" for="toggle">
                                         <mat-icon class= "fi fi-br-plus"
                                        style="    margin-left: -27px;font-weight: bold;">add</mat-icon> 

                                    </label>
                                    <nav class="nav1" *ngIf="uploadBrochure==null ||uploadBrochure==''||uploadBrochure==undefined">
                                        <ul style="color: #FF8E21;">

                                            <a (click)="downLoadFile()" target="_blank">Save Contact</a><br><br>
                                            <a (click)="shareContact()">Share Contact</a>
                                        </ul>
                                    </nav>
                                    <nav class="nav" *ngIf="uploadBrochure!=null &&uploadBrochure!='' &&uploadBrochure!=undefined">
                                        <ul style="color: #FF8E21;">
                                            
                                            <a (click)="downLoadFile()" target="_blank">Save Contact</a><br><br>
                                            <a (click)="shareContact()">Share Contact</a>
                                        </ul>
                                    </nav>
                                </div> -->



                            </div>



                        </div>





                    </div>

                </div>
            </div>






        </div>

    </div>

</ion-content>