<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;
        font-family: 'Mr-eaves';
        font-size: 28px;">{{'KmPortal.home' | translate}}</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form>
        <div class="display-justify">
            <ion-row class="container">
                <ion-col size="6">
                    <ion-card class="recharge-card" (click)="goto_subscribe()">
                        <ion-card-content>
                            <p style="text-align: center;font-size: 16px; color: #fff;">{{'Available' | translate}}</p>
                            <p style="text-align: center;font-size: 18px; color: #fff; font-weight: 700;">
                                {{'Subscription.talCrd'| translate}}</p>

                            <div class="card-content p-0 flex" style="display: flex;justify-content: center;">
                                <div class="spinningasset coin is-sm">
                                    <div>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>
                                <div class="ml-2" style="text-align: center;font-weight: bolder;font-size: 26px;color: #fff;">
                                    {{creditPoints}}
                                </div>
                            </div>
                            <br>
                            <p style="text-align: center;font-size: 14px; color: #fff;"><b>{{'Recharge Now' |
                                    translate}}</b></p>

                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <div>
                    <ion-col size="3">
                        <div class="custom-button">
                            <div style="display: flex; align-items: center;">
                                {{'Profile Views' | translate}}<b>: {{profileViewCount}}</b></div>
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="custom-button">
                            <div style="display: flex; align-items: center;">
                                {{'Your Rating' | translate}}:<b>&nbsp; {{avgrating}}</b><span class="fa fa-star checked"></span></div>
                        </div>
                    </ion-col>
                </div>
            </ion-row>
        </div>


        <!-- <ion-row class="container">
            <ion-col size="6">
                <ion-card class="network-card">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="3">
                                <ion-icon name="person-add-outline"></ion-icon>
                            </ion-col>

                            <ion-col size="6">

                            </ion-col>

                            <ion-col size="3">

                            </ion-col>

                        </ion-row>

                        <p style="text-align: center;font-size: 24px;font-weight: 700; color: #000;">{{networkCount}}</p>
                        <p style="text-align: center;font-size: 14px; color: #000;"><b>Your Network</b></p>

                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card class="network-card">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="3">
                                <ion-icon name="eye-outline"></ion-icon>
                            </ion-col>

                            <ion-col size="6">

                            </ion-col>

                            <ion-col size="3">

                            </ion-col>

                        </ion-row>

                        <p style="text-align: center;font-size: 24px;font-weight: 700; color: #000;">{{matchedJobsCount}}</p>
                        <p style="text-align: center;font-size: 14px; color: #000;"><b>Matched Jobs</b></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row> -->


        <div class="line-with-text">
            <hr class="hr1">
        </div>


        <ion-col *ngIf="initialCount==0 || initialCount=='0'">
            <h1 style="font-family: 'Mr-eaves';font-size: 29px;text-align: center;">{{'STAY CALM' | translate}}</h1>
            <P style="text-align: center ;">{{'and get your profile permanently endorsed' | translate}}</P>
            <p style="text-align: center ; color: #61ccff;font-weight: 700;font-size: 17px;"><a (click)="goto_profile()">{{'Go to Profile' | translate}}</a></p>
            <img class="imageCss" src="../../assets/img/Illustration.png" />
        </ion-col>
<div >
        <!-- <ion-col *ngIf="totalViewCount!=0 && totalViewCount!='0'"> -->
            <!-- <div class="button-content">
              <ion-item fill="outline" class="input-field">
                    <ion-select (ionChange)="selectDate($event.target.value)">
                        <ion-select-option value="Today">
                           Today
                        </ion-select-option>
                        <ion-select-option value="This week">
                           This week
                        </ion-select-option>
                        <ion-select-option value="This month">
                           This month
                        </ion-select-option>
                        <ion-select-option value="This year">
                           This year
                         </ion-select-option>
                         <ion-select-option value="All">
                           All
                         </ion-select-option>
                         <ion-icon name="funnel"></ion-icon>

                      </ion-select>
                      </div> -->
                      <!-- <div style=" padding-right: 5%;text-align: end;">
                       
                    </div> -->

                    <ion-col *ngIf="initialCount!=0 && initialCount!='0'" style="    display: flex;
                    align-items: center; justify-content: space-between;">
                        <!-- <div class="search-container">
                            <ion-label class="label"style="padding-left: 1%;padding-right: 7%;font-size: 20px;" >Date Range</ion-label>

                            <ion-select style="padding-left:5%;"  class="search-dropdown" (ionChange)="selectDate($event.target.value)">
                                <ion-select-option value="Today">
                                    Today
                                 </ion-select-option>
                                 <ion-select-option value="This week">
                                    This week
                                 </ion-select-option>
                                 <ion-select-option value="This month">
                                    This month
                                 </ion-select-option>
                                 <ion-select-option value="This year">
                                    This year
                                  </ion-select-option>
                                  <ion-select-option value="All">
                                    All
                                  </ion-select-option>
                            </ion-select>
                        </div> -->
            <!-- </ion-item> -->
            <p style="font-family:Arial, Helvetica, sans-serif;text-align: left;padding-left: 3%; font-size: 17px;">Total Talent Card Views: &nbsp; <b style="font-size: 35px;">{{totalViewCount}}</b></p>
            <!-- <h1 style="font-family:'Times New Roman', Times, serif;font-size: 40px;text-align: left;padding-left: 6%;"><b>{{totalViewCount}}</b></h1> -->
            <!-- <h2 style="font-family: 'Mr-eaves';text-align: left;padding-left: 3%;">Datewise count</h2> -->
            {{languageService.selectedFilter}} <ion-icon name="funnel" (click)="openPopOver($event)"></ion-icon>
            <!-- <p (click)="navi()">Test click </p> -->
        </ion-col>

        <div id="container"  class="chart-container"></div>
        <p *ngIf="initialCount!=0 && initialCount!='0'" style="font-family:Arial, Helvetica, sans-serif;text-align: left;padding-left: 3%; font-size: 17px;">Total Contact Saves: &nbsp; <b style="font-size: 35px;">{{totalContactCount}}</b></p>

        <div id="container2" class="chart-container"></div>

        <p *ngIf="initialCount!=0 && initialCount!='0'" style="font-family:Arial, Helvetica, sans-serif;text-align: left;padding-left: 3%; font-size: 17px;">Total Shared Contacts: &nbsp; <b style="font-size: 35px;" (click)="listPage()">{{sharedContactCount}}</b></p>
        <div id="container3" class="chart-container"></div>
</div>

    </form>




</ion-content>

<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();" id="step1">
        <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();" id="step2">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">

    </button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();" id="step3">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();" id="step4">
        <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

    </button>
</div>