<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_jobs()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">Job Post</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>
    <form [formGroup]="jobProfileForm">
        <div class="ion-stepper">
            <div class="ion-stepper-step" id="step1">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">1</div>
                    <div class="ion-stepper-title" style="font-family: Mr-eaves;">Job Details</div>
                </div>
                <div class="ion-stepper-content">

                    <ion-label class="labels">Industry<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field" required>
                        <ion-select (ionChange)="jobtitleList($event.target.value)" formControlName="industry" placeholder="Industry">
                            <ion-select-option *ngFor="let tittle of industryList" value="{{tittle.id1}}">{{tittle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="jobProfileForm.controls.industry.hasError('required') && jobProfileForm.controls.industry.touched">
                        <small style="color: #f70505;">Industry is required</small>
                    </div>


                    <ion-label class="labels">Job Title<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select placeholder="Job title" formControlName="jobTitle1" (click)="onSelectionChange($event)"(ionChange)="Driver($event.target.value)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let jobtitle of jobTitleList" value="{{jobtitle.id}}">{{jobtitle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="jobProfileForm.controls.jobTitle1.hasError('required') && jobProfileForm.controls.jobTitle1.touched">
                        <small style="color: #f70505;">Job title is required</small>
                    </div>


                    <ion-label class="labels">Job Type<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select placeholder="Job type" formControlName="jobType" multiple="true" (ionChange)="onSelectionChange($event)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let tittle of jobTypeList" value="{{tittle.id}}">{{tittle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="jobProfileForm.controls.jobType.hasError('required') && jobProfileForm.controls.jobType.touched">
                        <small style="color: #f70505;">Job type is required</small>
                    </div>


                    <ion-label class="labels">Number of Openings<small style="color: #f70505;">*</small></ion-label>
                    <div style="margin: 0px 15px 0px 0px;">
                        <ion-item fill="outline" class="input-field">
                            <ion-input type="number" formControlName="openings" placeholder="Number Of Openings"></ion-input>
                        </ion-item>
                    </div>


                    <div class="ion-stepper-buttons">
                        <button [disabled]="disable" class="ion-stepper-next" (click)="validatePreference();">Next</button>
                    </div>
                </div>
            </div>

            <div class="ion-stepper-step" id="step2">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">2</div>
                    <div class="ion-stepper-title">Job Description</div>
                </div>
                <div class="ion-stepper-content">

                    <ion-label class="labels">Job Description<small style="color: #f70505;">*</small></ion-label>
                    <div class="button-content">
                        <ckeditor formControlName="roles"></ckeditor>
                    </div>


                    <!-- <ion-label class="labels">Required Skills & Qualifications<small style="color: #f70505;">*</small></ion-label>
                    <div class="button-content">
                        <ckeditor formControlName="jobQualification"></ckeditor>
                    </div> -->



                    <ion-label class="labels">Skills<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-chip *ngFor="let skill of selectedSkills">
                            {{ skill }}
                            <ion-icon name="close-circle" (click)="removeSkill(skill)"></ion-icon>
                        </ion-chip>
                        <ion-textarea rows="1" warp="soft" (click)="skills()"(ionInput)="onSearchSkill($event.target.value)" [formControl]="searchCtrl"></ion-textarea>
                    </ion-item>
                    <div *ngIf="jobProfileForm.controls.jobSkills.hasError('required') && jobProfileForm.controls.jobSkills.touched">
                        <small style="color: #f70505;">Skills is required</small>
                    </div>

                    <ion-list *ngIf="showSkillResults">
                        <ion-item *ngFor="let result of searchSkillResults" (click)="selectSkill(result.text,result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list>

                    <ion-label class="labels">Work experience<small style="color: #f70505;">*</small></ion-label>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div>Atleast</div>
                        <div style="width: 30%;">
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="number" formControlName="jobExperience"></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-item fill="outline" class="input-field">
                                <ion-select formControlName="jobExperienceFormat" placeholder="Year(s)">
                                    <ion-select-option value="Year(s)">Year(s)</ion-select-option>
                                    <ion-select-option value="Month(s)">Month(s)</ion-select-option>
                                    <ion-select-option value="Week(s)">Week(s)</ion-select-option>
                                    <ion-select-option value="Day(s)">Day(s)</ion-select-option>
                                    <ion-select-option value="Hour(s)">Hour(s)</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </div>
                    </div>
                    <div>
                        of relevant Experience
                    </div>

                    <div *ngIf="jobProfileForm.controls.jobExperience.hasError('required') && jobProfileForm.controls.jobExperience.touched">
                        <small style="color: #f70505;">Work experience is required</small>
                    </div>


                    <ion-list>
                        <ion-radio-group formControlName="jobExperienceMandatory" [allowEmptySelection]="true" value="turtles">
                            <ion-item class="ion-item">
                                <ion-label><b>Must have</b></ion-label>
                                <ion-radio slot="end" value="true"></ion-radio>
                            </ion-item>

                            <ion-item class="ion-item">
                                <ion-label><b>Good to have</b></ion-label>
                                <ion-radio slot="end" value="false"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>


                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>

                    <div>
                        <div>
                            <ion-label class="labels">What is the approximate salary range for this job?<small style="color: #f70505;">*</small></ion-label>
                        </div>
                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryFrom($event.target.value);" formControlName="jobSalaryFrom" placeholder="From"></ion-input>
                                </ion-item>
                            </div>
                            <h4>to</h4>
                            <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryTo($event.target.value);" formControlName="jobSalaryTo" placeholder="To"></ion-input>
                                </ion-item>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryCurrency" placeholder="INR">
                                        <ion-select-option value="INR">INR</ion-select-option>
                                        <ion-select-option value="USD">USD</ion-select-option>
                                        <ion-select-option value="AED">AED</ion-select-option>
                                        <ion-select-option value="EUR">EUR</ion-select-option>
                                        <ion-select-option value="SGD">SGD</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                            <!-- <h4>to</h4> -->
                            <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryFrequency" placeholder="Per Year">
                                        <ion-select-option value="Per Year">Per Year</ion-select-option>
                                        <ion-select-option value="Per Month">Per Month</ion-select-option>
                                        <ion-select-option value="Per Week">Per Week</ion-select-option>
                                        <ion-select-option value="Per Day">Per Day</ion-select-option>
                                        <ion-select-option value="Per Hour">Per Hour</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                        </div>
                    </div>



                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step2', 'step1')">Back</button>
                        <button class="ion-stepper-next" (click)="validateJobDesc()">Next</button>
                    </div>
                </div>
            </div>


            <!-- <div class="ion-stepper-step" id="step3">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">3</div>
                    <div class="ion-stepper-title">Salary & Benefits</div>
                </div>
                <div class="ion-stepper-content">

                    <div>
                        <div>
                            <ion-label class="labels">What is the approximate salary range for this job?<small style="color: #f70505;">*</small></ion-label>
                        </div>
                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryFrom($event.target.value);" formControlName="jobSalaryFrom" placeholder="From"></ion-input>
                                </ion-item>
                            </div>
                            <h4>to</h4>
                            <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryTo($event.target.value);" formControlName="jobSalaryTo" placeholder="To"></ion-input>
                                </ion-item>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryCurrency" placeholder="INR">
                                        <ion-select-option value="INR">INR</ion-select-option>
                                        <ion-select-option value="USD">USD</ion-select-option>
                                        <ion-select-option value="AED">AED</ion-select-option>
                                        <ion-select-option value="EUR">EUR</ion-select-option>
                                        <ion-select-option value="SGD">SGD</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                             <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryFrequency" placeholder="Per Year">
                                        <ion-select-option value="Per Year">Per Year</ion-select-option>
                                        <ion-select-option value="Per Month">Per Month</ion-select-option>
                                        <ion-select-option value="Per Week">Per Week</ion-select-option>
                                        <ion-select-option value="Per Day">Per Day</ion-select-option>
                                        <ion-select-option value="Per Hour">Per Hour</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                        </div>
                    </div>

                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>

                 <ion-label class="labels">Is there any form of additional perks offered for this job?<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select formControlName="additionalpay" multiple="true" (ionChange)="onSelectionChange($event)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let tittle of additionalPaylist" value="{{tittle.id}}">{{tittle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item> 
                    <div *ngIf="jobProfileForm.controls.jobType.hasError('required') && jobProfileForm.controls.jobType.touched">
                        <small style="color: #f70505;"> Please select perks offered</small>
                    </div> 




                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step3', 'step2')">Back</button>
                        <button class="ion-stepper-next" (click)="validateSalary()">Next</button>
                    </div>
                </div>
            </div> -->


            <!-- <div class="ion-stepper-step" id="step4">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">4</div>
                    <div class="ion-stepper-title">Job Schedule</div>
                </div>
                <div class="ion-stepper-content">

                    <div>
                        <div class="ind-container">
                            <div>Shifts</div>
                            <div>Day shift</div>
                            <div>Night shift</div>
                        </div>
                        <div class="line-with-text">
                            <hr class="hr1">
                        </div>
                        <div class="ind-container">
                            <div>Monday</div>
                            <div>
                                <ion-item class="background">
                                    <ion-checkbox formControlName="jobShiftDM"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNM"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div>Tuesday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDT"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNT"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: -8px;">Wednesday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDW"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNW"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div>Thursday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDTH"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNTH"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: 12px;">Friday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDF"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNF"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: 3px;">Saturday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDS"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNS"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: 10px;">Sunday</div>
                            <div>
                                <ion-item>
                                </ion-item>
                                <ion-checkbox formControlName="jobShiftDSU"></ion-checkbox>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNSU"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </div>
                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center;margin: 10px 0px 0px 0px;">
                        <div>
                            What is the expected working hours per week for this job?<small style="color: #f70505;">*</small>
                        </div>
                        <div>
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="number" formControlName="jobExpWorkHrs"></ion-input>
                            </ion-item>
                        </div>
                    </div>
                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            From when do you wish to start working?<small style="color: #f70505;">*</small>
                        </div>
                        <div>
                            <div style="margin: 0px 70px 0px 70px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-datetime displayFormat="MM/YYYY" (ionChange)="validateStartDate($event.target.value);" formControlName="jobStartDateFrom" presentation="date"></ion-datetime>
                                </ion-item>
                            </div>

                        </div>
                    </div>




                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step4', 'step3')">Back</button>
                        <button class="ion-stepper-next" (click)="validateJobshedule()">Next</button>
                    </div>
                </div>
            </div> -->


            <div class="ion-stepper-step" id="step3">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">3</div>
                    <div class="ion-stepper-title"> Additional Informatione</div>
                </div>
                <div class="ion-stepper-content">

                    <ion-label class="labels">Mention the deadline for applications<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-datetime (ionChange)="validateStartDate($event.target.value);" formControlName="appDeadline" displayFormat="DD.MM.YYYY" presentation="date"></ion-datetime>
                    </ion-item>


                    <ion-label class="labels">Select offered locations(s) for the job<small style="color: #f70505;">*</small></ion-label>

                    <ion-item fill="outline" class="input-field">
                        <div class="selected-skills-container">
                            <div *ngFor="let city of selectedCities" class="selected-skill">{{ city }}
                                <ion-icon name="close-circle" (click)="removeCity(city)"></ion-icon>
                            </div>
                        </div>
                        <ion-input (ionInput)="onSearch($event.target.value)" [formControl]="searchCtrl"></ion-input>

                    </ion-item>
                    <ion-list *ngIf="showResults">
                        <ion-item *ngFor="let result of searchResults" (click)="selectCity(result.text,result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list>


                    <!-- <ion-label class="labels">Receive applications from<small style="color: #f70505;">*</small></ion-label>

                    <ion-item fill="outline" class="input-field">
                        <div class="selected-skills-container">
                            <div *ngFor="let city of selectedCitiesOffLocation" class="selected-skill">{{ city }}
                                <ion-icon name="close-circle" (click)="removeCityForLocation(city)"></ion-icon>
                            </div>
                        </div>
                        <ion-input (ionInput)="onSearchOfferLocation($event.target.value)" [formControl]="searchCtrl"></ion-input>
                    </ion-item>


                    <ion-list *ngIf="showResultsForLocation">
                        <ion-item *ngFor="let result of searchResultsOffLocation" (click)="selectCityForLocation(result.text,result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list> -->


                    <ion-label class="labels">Mention languages requirements for the job<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select formControlName="reqLanguages" placeholder="Known languages" multiple="true" (click)="onSelectionChange($event)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let title of languageList" value="{{title.id}}">{{title.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>


                    <!-- <ion-label class="labels">Enter Contact number to let the applicants call you Directly</ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-input type="number" formControlName="phoneNo"></ion-input>
                    </ion-item> -->


                    <!-- <div class="line-with-text">
                        <hr class="hr1">
                    </div>

                    <div>
                        <ion-radio-group formControlName="gender">
                            <div>
                                <ion-label>Gender Preferences</ion-label>
                                <div style="display: flex;justify-content: space-evenly;">
                                    <ion-radio value="M"></ion-radio>
                                    <ion-label>Male</ion-label>
                                    <ion-radio value="F"></ion-radio>
                                    <ion-label>Female</ion-label>
                                    <ion-radio value="O"></ion-radio>
                                    <ion-label>Others</ion-label>
                                </div>
                            </div>
                        </ion-radio-group>
                    </div> -->

                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step3', 'step2')">Back</button>
                        <button class="ion-stepper-next" (click)="validateInformation()">Next</button>
                    </div>

                </div>
            </div>





            <div class="ion-stepper-step" id="step4">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">4</div>
                    <div class="ion-stepper-title"> Auction the Job</div>
                </div>
                <div class="ion-stepper-content">

                    <img width=80 src="../../assets/img/auctioneer.png" alt="Paris" class="center">
                    <br>
                    <p>Would you like to Auction this Job Vacancy?</p>
                    <p>Auction your organisation's vacant positions and invite top bidders that fit your expectations and budget for an interview.</p>

                    <div style="display: flex; justify-content: center;align-items: center;">
                        No<ion-toggle formControlName="auctioned"></ion-toggle>Yes
                    </div>


                    <div *ngIf="!edit" class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step4', 'step3')">Back</button>
                        <button class="ion-stepper-submit" (click)="savejobadvertisement()">Save</button>
                    </div>

                    <div *ngIf="edit" class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step4', 'step3')">Back</button>
                        <button class="ion-stepper-submit" (click)="updatejobseek()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




</ion-content>