<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<ion-header style="background-color: white;">
    <ion-toolbar style="padding: 20px 10px 15px;">
        <ion-row style="display: flex;justify-content: space-between;">
            <div>
                <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%" (click)="goto_profile()"></ion-icon>
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;display: flex;
        align-items: center;align-items: center;">
                More
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;">
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="display-justify">
        <div class="custom-button" (click)="goto_language()">
            <div style="display: flex; align-items: center;">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/profile_status.png" />
                </ion-avatar>Language</div>
        </div>
        <div class="custom-button" (click)="goto_visibility()">
            <div style="display: flex; align-items: center;">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/push message.png" />
                </ion-avatar>Visibility</div>
        </div>
    </div>
    <div class="line-with-text">
        <hr class="hr1">
    </div>
    <div class="display-justify">
        <div class="custom-button">
            <div style="display: flex; align-items: center;" (click)="goto_policy()">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/privacy policy.png" />
                </ion-avatar>Consent Form</div>
        </div>
        <div class="custom-button">
            <div style="display: flex; align-items: center;" (click)="goto_Terms()">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/terms and conditions.png" />
                </ion-avatar>Terms & Conditions</div>
        </div>
    </div>
    <div class="line-with-text">
        <hr class="hr1">
    </div>
    <div class="display-justify">

        <div class="custom-button">
            <div style="display: flex; align-items: center;" (click)="goto_subscribe()">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/terms and conditions.png" />
                </ion-avatar>Subscription</div>
        </div>

        <div class="custom-button">
            <div style="display: flex; align-items: center;" (click)="goto_AboutApp()">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/about.png" />
                </ion-avatar>About the app</div>
        </div>  
    </div>


    <!-- <div class="display-justify">

        <div class="custom-button" style="background: rgb(84, 168, 236);">
            <div style="display: flex; align-items: center;" (click)="logOut()">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/terms and conditions.png" />
                </ion-avatar>Log Out</div>
        </div> 
    </div> -->

    <div class="contact-list">
        <a class="icon-link" (click)="logOut()">
			<img style="max-width: 330%;" class="cont-icon" src="/assets/icon/power.png">
		</a>
    </div>

    <div class="footer-nav">
        <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
      <ion-icon size="large" name="search-circle"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
      <ion-icon size="large" name="earth-sharp"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
      <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    
      
      </button>
        <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
      </button>
        <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
      <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
      
      </button>
      </div>




</ion-content>